.τομέας-χρονολογίου {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.περιέκτης-χρονολογίου {
  position: absolute;
  top: 20vh;
  height: 75vh;
  width: 85vw;
  overflow-y: hidden;
  overflow-x: hidden;
}
