.τομέας-χρονολογίου {
  position: absolute;
  top: var(--τομέας-τοποθεσία-βασική);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: var(--τομέας-ύψος-βασικό);
  width: 100dvw;
}

.περιέκτης-χρονολογίου {
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

/* ======================= Ύψος ======================= */

/* @media (min-height: 300px) {
  .περιέκτης-μαρτυριών {
    height: 50vh;
  }
}
@media (min-height: 320px) {
  .περιέκτης-μαρτυριών {
    height: 55vh;
  }
}
@media (min-height: 360px) {
  .περιέκτης-μαρτυριών {
    height: 60vh;
  }
}
@media (min-height: 420px) {
  .περιέκτης-μαρτυριών {
    height: 70vh;
  }
}
@media (min-height: 480px) {
  .περιέκτης-μαρτυριών {
    height: 75vh;
  }
} */
/* @media (min-height: 650px) {
  .περιέκτης-μαρτυριών {
    height: 78vh;
    }
    } */

/* ====================== Πλάτος ====================== */

/* ---------------------------------------  */
@media (min-width: 480px) {
  .τομέας-χρονολογίου {
    width: 95dvw;
  }
}

@media (min-width: 1366px) {
  .τομέας-χρονολογίου {
    width: 85dvw;
  }
}

/* ===================== Πορτραίτο ===================== */

/* ---------------------------------------  */
@media (orientation: portrait) and (min-height: 768px) {
  .τομέας-χρονολογίου {
    top: var(--τομέας-τοποθεσία-πορτραίτο-ύψος-768-κάθετη-κύλιση);
  }
}
/* ---------------------------------------  */
@media (orientation: portrait) and (min-height: 1024px) {
  .τομέας-χρονολογίου {
    /* top: var(--τομέας-τοποθεσία-πορτραίτο-ύψος-1024-κάθετη-κύλιση); */
    width: 85dvw;
  }
}

/* ====================== Τοπίο ====================== */

/* ---------------------------------------  */
@media (orientation: landscape) and (min-height: 550px) {
  .τομέας-χρονολογίου {
    top: var(--τομέας-τοποθεσία-τοπίο-ύψος-550-κάθετη-κύλιση);
  }
}

/* ---------------------------------------  */
@media (orientation: landscape) and (min-height: 700px) {
  .τομέας-χρονολογίου {
    top: var(--τομέας-τοποθεσία-τοπίο-ύψος-700-κάθετη-κύλιση);
  }
}

/* ---------------------------------------  */
@media (orientation: landscape) and (min-height: 768px) {
  .τομέας-χρονολογίου {
    top: var(--τομέας-τοποθεσία-τοπίο-ύψος-768-κάθετη-κύλιση);
  }
}

/* ---------------------------------------  */
@media (orientation: landscape) and (min-height: 950px) {
  .τομέας-χρονολογίου {
    top: var(--τομέας-τοποθεσία-τοπίο-ύψος-950-κάθετη-κύλιση);
  }
}
@media (orientation: landscape) and (min-height: 1024px) {
  .τομέας-χρονολογίου {
    top: var(--τομέας-τοποθεσία-τοπίο-ύψος-1024-κάθετη-κύλιση);
  }
}

@media (orientation: landscape) and (min-width: 1024px) {
  .τομέας-χρονολογίου {
    width: 85dvw;
  }
}

/* ---------------------------------------  */

/* ============= Απόκρυψη σε μικρές οθόνες  ============= */

/* ---------------------------------------  */
@media (max-height: 549px) {
  .τομέας-χρονολογίου {
    display: none;
  }
}
