.τομέας-μαρτυριών {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.περιέκτης-μαρτυριών {
  /* display: grid;
  grid-template-columns: repeat(4, 1fr); */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 80vw;
  gap: 2vw;
}

/* .wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3px;
} */
