.τομέας-μαρτυριών {
  position: absolute;
  top: var(--τομέας-τοποθεσία-βασική);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: var(--τομέας-ύψος-βασικό);
  width: 100dvw;
}

.περιέκτης-μαρτυριών {
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

/* ======================= Ύψος ======================= */
/* @media (min-height: 300px) {
  .περιέκτης-μαρτυριών {
    height: 50vh;
  }
}
@media (min-height: 320px) {
  .περιέκτης-μαρτυριών {
    height: 55vh;
  }
}
@media (min-height: 360px) {
  .περιέκτης-μαρτυριών {
    height: 60vh;
  }
}
@media (min-height: 420px) {
  .περιέκτης-μαρτυριών {
    height: 70vh;
  }
}
@media (min-height: 480px) {
  .περιέκτης-μαρτυριών {
    height: 75vh;
  }
} */
/* @media (min-height: 650px) {
  .περιέκτης-μαρτυριών {
    height: 78vh;
    }
    } */

/* ================================================ */
@media (min-width: 480px) {
  .τομέας-μαρτυριών {
    width: 95dvw;
  }
}
/* ================================================ */
@media (min-width: 768px) {

}
/* ================================================ */
@media (min-width: 1024px) {
  .τομέας-μαρτυριών {
    top: initial;
    width: 85vw;
  }

  /* .περιέκτης-μαρτυριών {
    width: 99%;
  } */
}
/* ================================================ */
@media (min-width: 1366px) {
  .τομέας-μαρτυριών {
    width: 85vw;
  }
}
