.timeline-side-nav {
  display: none;
}

@media (min-width: 40rem) {
  .timeline-side-nav {
    --χρώμα-σπουδών: rgb(255, 128, 2);
    --χρώμα-εργασίας: rgb(206, 175, 0);
    --χρώμα-έργων: rgb(0, 206, 148);
    --χρώμα-εν-αναμονή: rgb(88, 0, 196);
    --χρώμα-εν-εξελίξει: rgb(190, 196, 0);
    --χρώμα-παρατημένου: rgb(196, 0, 0);
    --χρώμα-ολοκληρωμένου: rgb(0, 187, 0);
    --list-items: 7;
    display: flex;
    position: absolute;
    left: 50px;
    top: 0;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 150;
  }

  .timeline-side-nav__items {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    height: fit-content;
    width: 55px;
    padding: 15px;
    gap: 1.5vh;
    background-color: var(--second-bg-color-blurred);
    border: 1px solid var(--main-color);
    border-radius: 15px;
    list-style: none;
    transition: 0.3s ease-in;
  }

  .timeline-side-nav__items:hover {
    display: flex;
    width: 150px;
  }

  .timeline-side-nav__item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    gap: 5px;
    transition: 0.3s ease-in;
  }

  /* .timeline-side-nav__item:hover {
      transform: scale(125%);
      transition: 0.3s ease-in;
      cursor: pointer;
    } */

  .timeline-side-nav__items .κείμενο {
    visibility: hidden;
    opacity: 0;
    text-wrap: nowrap;
    font-size: 0.8rem;
  }

  .timeline-side-nav__items:hover .κείμενο {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s 0.1s ease-in-out;
  }

  .χρώμα-εικονιδίου-ολοκληρωμένο {
    color: var(--χρώμα-ολοκληρωμένου);
  }
  .χρώμα-εικονιδίου-εν-εξελίξει {
    color: var(--χρώμα-εν-εξελίξει);
  }
  .χρώμα-εικονιδίου-εν-αναμονή {
    color: var(--χρώμα-εν-αναμονή);
  }
  .χρώμα-εικονιδίου-παρατημένο {
    color: var(--χρώμα-παρατημένου);
  }
  .χρώμα-εικονιδίου-σπουδές {
    color: var(--χρώμα-σπουδών);
    transform: rotateZ(90deg);
  }
  .χρώμα-εικονιδίου-εργασία {
    color: var(--χρώμα-εργασίας);
    transform: rotateZ(90deg);
  }
  .χρώμα-εικονιδίου-έργα {
    color: var(--χρώμα-έργων);
    transform: rotateZ(90deg);
  }

  @keyframes fade-in {
    0% {
      display: none;
      opacity: 0;
    }
    50% {
      display: block;
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
