.περιέκτης-πλήκτρων-ηρώου {
  display: flex;
  align-items: center;
  gap: 1.5vw;
  z-index: 150;
}
/* ================================================ */
@media (min-width: 480px) {
}
/* ================================================ */
@media (min-width: 768px) {
}
/* ================================================ */
@media (min-width: 1024px) {
  .περιέκτης-πλήκτρων-ηρώου {
    display: flex;
    align-items: center;
    gap: 1.5vw;
  }
}
/* ================================================ */
@media (min-width: 1366px) {
}
