.περιέκτης-πλήκτρων {
  position: fixed;
  top: 18vh;
  display: flex;
  align-items: center;
  gap: 1.5vw;
  z-index: 150;
}

/* ================================================ */
@media (min-width: 480px) {
  .περιέκτης-πλήκτρων {
    top: 85px;
  }
}
/* ================================================ */
@media (min-width: 768px) {
  .περιέκτης-πλήκτρων {
    top: 230px;
  }
}
/* ================================================ */
@media (min-width: 1024px) {
}
/* ================================================ */
@media (min-width: 1366px) {
}

/* ================================================ */
@media (min-height: 400px) {
  .περιέκτης-πλήκτρων {
    top: 85px;
  }
}

/* ================================================ */
@media (min-height: 550px) {
  .περιέκτης-πλήκτρων {
    top: 18vh;
  }
}
