.περιέκτης-πλήκτρων {
  position: fixed;
  top: 10vh;
  display: flex;
  align-items: center;
  gap: 1.5vw;
  z-index: 150;
}

@media (orientation: landscape) and (min-height: 700px) {
  .περιέκτης-πλήκτρων {
    top: 10vh;
  }
}

/* ================================================ */
@media (orientation: landscape) and (min-width: 480px) and (min-height: 700px) {
  /* .περιέκτης-πλήκτρων {
    font-size: 2.5rem;
  }*/
}
/* ================================================ */
@media (orientation: landscape) and (min-width: 768px) and (min-height: 700px) {
  /* .περιέκτης-πλήκτρων {
    font-size: 2.5rem;
  }*/
}
/* ================================================ */
@media (orientation: landscape) and (min-width: 1024px) and (min-height: 700px) {
  /* .περιέκτης-πλήκτρων {
    font-size: 2.5rem;
  }*/
}
@media (orientation: landscape) and (min-width: 1366px) and (min-height: 700px) {
  /* Βασίζεται στον .τίτλο */
  .περιέκτης-πλήκτρων {
    top: calc(120px + 4rem);
  }
}

@media (orientation: portrait) {
  .περιέκτης-πλήκτρων {
    position: fixed;
    top: 16vh;
    display: flex;
    align-items: center;
    gap: 1.5vw;
    z-index: 150;
  }
}

/* ================================================ */
@media (orientation: portrait) and (min-width: 480px) {
  /* .περιέκτης-πλήκτρων {
    top: 85px;
  } */
}
/* ================================================ */
@media (orientation: portrait) and (min-width: 768px) {
  /* .περιέκτης-πλήκτρων {
    top: 230px;
  } */
}
/* ================================================ */
@media (orientation: portrait) and (min-width: 1024px) {
}
/* ================================================ */
@media (orientation: portrait) and (min-width: 1366px) {
}

/* ================================================ */
@media (orientation: portrait) and (min-height: 650px) {
  .περιέκτης-πλήκτρων {
    top: 15vh;
  }
}

/* ================================================ */
@media (orientation: portrait) and (min-height: 800px) {
  .περιέκτης-πλήκτρων {
    top: 14vh;
  }
}
