.κεφαλίδα {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  width: 100vw;
  padding: 1vh 12%;
  background: transparent;
  backdrop-filter: blur(2px);
  /* border-bottom: 1px solid gold; */
  z-index: 5;
}

.περιέκτης-λογότυπου {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.λογότυπο {
  cursor: pointer;
  transition: 0.7s ease-in-out;
}

.λογότυπο:hover {
  transform: scale(1.25);
}

/* .λογότυπο {
  display: inline-block;
  height: 450px;
  width: 500px;
  border-radius: 40%;
  padding: 10px;
  border: none;
  background-color: var(--main-color);
  box-shadow: 0 0 25px var(--main-color);
  transform: scale(1.05);
} */

/* .λογότυπο:hover {
  padding: 20px;
  background-color: transparent;
  box-shadow:
    0 0 25px var(--main-color),
    0 0 50px var(--main-color),
    0 0 100px var(--main-color),
    0 0 125px var(--main-color);
  transform: scale(0.95);
  transition: 0.7s ease-in-out;
} */

.λογότυπο .εικόνα {
  stroke: var(--main-color);
  fill: var(--main-color);
}

.λογότυπο .εικόνα:hover {
  stroke: gold;
  fill: gold;
}

.γραμμή-πλοήγησης-κεφαλίδας-προγραμματισμού {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-height: 30px;
  width: 80%;
  min-width: 140px;
}

.γραμμή-πλοήγησης-κεφαλίδας-προγραμματισμού .στοιχεία {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  gap: 5vw;
  list-style: none;
}

.γραμμή-πλοήγησης-κεφαλίδας-προγραμματισμού .item {
  font-size: 1.3rem;
  color: var(--text-color);
  font-weight: 700;
  transition: 0.3s ease;
  border-bottom: 2px solid transparent;
}

.γραμμή-πλοήγησης-κεφαλίδας-προγραμματισμού .item:hover,
.γραμμή-πλοήγησης-κεφαλίδας-προγραμματισμού .item:active {
  color: var(--main-color);
  border-bottom: 3px solid var(--main-color);
  transform: scale(1.1);
}

@media (min-width: 40rem) {
  .κεφαλίδα {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }

  .γραμμή-πλοήγησης-κεφαλίδας-προγραμματισμού .στοιχεία {
    width: 100%;
    list-style: none;
  }

  .γραμμή-πλοήγησης-κεφαλίδας-προγραμματισμού .item {
    color: white;
  }
}
