.κεφαλίδα {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 10px 10px;
  background: transparent;
  backdrop-filter: blur(2px);
  z-index: 5;
}

.περιέκτης-λογότυπου-κεφαλίδας-προγραμματισμού {
  display: flex;
  justify-content: center;
  align-items: center;
}

.λογότυπο {
  padding: 3px 3px 0;

  cursor: pointer;
  transition: 0.7s ease-in-out;
}

.λογότυπο:hover {
  transform: scale(1.25);
}

.λογότυπο .εικόνα {
  stroke: var(--main-color);
  fill: var(--main-color);
}

.λογότυπο .εικόνα:hover {
  stroke: gold;
  fill: gold;
}

.περιέκτης-πλήκτρου-ρυθμίσεων-κεφαλίδας-προγραμματισμού {
  display: flex;
  justify-content: center;
  align-items: center;
}

.γραμμή-πλοήγησης-κεφαλίδας-προγραμματισμού {
  display: none;
}


/* ================ */

@media (min-width: 480px) {
}

/* ================ */

@media (min-width: 768px) {
  .κεφαλίδα {
    justify-content: space-between;
    height: 5vh;
    padding: 1vh 12%;
  }

  .περιέκτης-λογότυπου-κεφαλίδας-προγραμματισμού {
    display: flex;
    justify-content: flex-start;
  }

  .γραμμή-πλοήγησης-κεφαλίδας-προγραμματισμού {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-height: 30px;
    /* min-width: 140px; */
  }

  .περιέκτης-πλήκτρου-ρυθμίσεων-κεφαλίδας-προγραμματισμού {
    display: none;
  }

  .επιλογές-ρυθμίσεων-κεφαλίδας-προγραμματισμού {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 5vw;
    padding: 3px;
    list-style: none;
  }

  /* .στοιχείο {
    font-size: 1.3rem;
    color: var(--text-color);
    font-weight: 700;
    transition: 0.3s ease;
    border-bottom: 2px solid transparent;
  }

  .στοιχείο:hover,
  .στοιχείο:active {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
    transform: scale(1.1);
  } */

  /* .πλήκτρο-ρυθμίσεων {
    visibility: hidden;
  }

  .αναδυόμενο-γλωσσών {
    visibility: visible;
  } */

  /* .στοιχείο {
    color: white;
  } */
}

/* ================ */

@media (min-width: 1024px) {
}

/* ================ */

@media (min-width: 1366px) {
}
