.υποσέλιδο {
  position: absolute;
  bottom: 0;
  z-index: 5;
}

.γραμμή-πλήκτρων-υποσέλιδου {
  display: none;
}

.υποσέλιδο .περιέκτης-πνευματικών-δικαιωμάτων {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 6px 0 4px;
  height: auto;
  width: auto;
  min-width: 140px;
  text-align: center;
  font-size: 0.8rem;
  color: var(--κείμενο-βασικό-χρώμα);
  backdrop-filter: blur(2px);
}

.υποσέλιδο .κενό-πνευματικών-δικαιωμάτων {
  display: none;
}

/* ================================================ */
@media (min-width: 480px) {
}
/* ================================================ */
@media (min-width: 768px) {
}
/* ================================================ */
@media (min-width: 1024px) {
  .υποσέλιδο {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: clamp(52px, var(--υποσέλιδο-ύψος-προγραμματισμού), 55px);
    width: 100vw;
    padding: 0 12% 0;
    background: transparent;
    /* border-top: 1px solid var(--όριο-χρώμα-θολό); */
    z-index: 5;
  }

  .γραμμή-πλήκτρων-υποσέλιδου {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
    max-height: 30px;
    width: auto;
    min-width: 140px;
    backdrop-filter: blur(2px);
  }

  .γραμμή-πλήκτρων-υποσέλιδου .στοιχεία {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2.4rem;
    list-style: none;
  }

  .γραμμή-πλήκτρων-υποσέλιδου .στοιχείο {
    font-size: 1.1rem;
    color: var(--κείμενο-βασικό-χρώμα);
    font-weight: 700;
    transition: 0.3s ease;
    border-bottom: 2px solid transparent;
    text-align: center;
  }

  .γραμμή-πλήκτρων-υποσέλιδου .στοιχείο:hover,
  .γραμμή-πλήκτρων-υποσέλιδου .στοιχείο:active,
  .γραμμή-πλήκτρων-υποσέλιδου .στοιχείο:visited {
    color: var(--βασικό-χρώμα);
    border-bottom: 2px solid gold;
    transform: scale(1.1);
    /* text-decoration: none; */
  }

  .γραμμή-πλήκτρων-υποσέλιδου .στοιχείο.active {
    color: gold;
    transition: 0.3s ease-in;
    cursor: pointer;
  }

  .υποσέλιδο .περιέκτης-πνευματικών-δικαιωμάτων {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
  }

  .υποσέλιδο .κενό-πνευματικών-δικαιωμάτων {
    display: initial;
  }
}
/* ================================================ */
@media (min-width: 1366px) {
}
