.φόρμα {
  --πλάτος-φόρμας: 95vw;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: var(--πλάτος-φόρμας);
  gap: 1.5vh;
  text-align: center;
}

.ομάδα-πεδίων,
.ομάδα-πεδίων-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: var(--πλάτος-φόρμας);
  max-width: 450px;
  gap: 1.5vh;
}

.φόρμα .περιέκτης-πεδίου {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.περιέκτης-πεδίου .κείμενο-περιέκτη-πεδίου {
  font-size: max(1vw, 11px);
  font-weight: bold;
  color: var(--main-color);
}
.περιέκτης-πεδίου textarea {
  height: 20vh;
}

.φόρμα input,
.φόρμα textarea {
  /* width: 100%; */
  flex-grow: 1;
  padding: 1.6vh 2vw;
  font-size: max(1vw, 11px);
  color: var(--text-color);
  border: 2px solid transparent;
  border-radius: 14px;
  transition: var(--χρόνος-μετάβασης-μορφής) ease-in-out;
}

/* ================================================ */
@media (min-width: 480px) {
  .φόρμα input,
  .φόρμα textarea {
    font-size: max(1vw, 12px);
    border-radius: 15px;
  }
}
/* ================================================ */
@media (min-width: 768px) {
  .ομάδα-πεδίων,
  .ομάδα-πεδίων-2 {
    width: 70vw;
    max-width: none;
  }

  .φόρμα input,
  .φόρμα textarea {
    font-size: max(1vw, 14px);
    border-radius: 20px;
  }
}
/* ================================================ */
@media (min-width: 1024px) {
  .ομάδα-πεδίων,
  .ομάδα-πεδίων-2 {
    width: 50vw;
  }
}
/* ================================================ */
@media (min-width: 1366px) {
  .φόρμα {
    flex-direction: row;
    width: 75vw;
    gap: 3vw;
  }

  .ομάδα-πεδίων,
  .ομάδα-πεδίων-2 {
    gap: 2.5vh;
  }
}

/* ΜΟΡΦΗ ΣΤΟΙΧΕΙΩΝ */
input.με-υαλομορφισμό,
textarea.με-υαλομορφισμό {
  border-color: var(--border-color-blurred);
  background-color: rgba(0, 253, 253, 0.005);
  backdrop-filter: blur(3px);
}

input.με-αδιαφανή-στοιχεία,
textarea.με-αδιαφανή-στοιχεία {
  border-color: var(--border-color-blurred);
  background-color: var(--second-bg-color);
}

input.με-ημιδιαφανή-στοιχεία,
textarea.με-ημιδιαφανή-στοιχεία {
  border-color: var(--border-color-blurred);
  background-color: var(--second-bg-color-blurred);
}

input.με-φέγγος-ορίων,
textarea.με-φέγγος-ορίων {
  border-color: var(--main-color);
}

input.με-φέγγος-στοιχείων,
textarea.με-φέγγος-στοιχείων {
  /* border-width: 1px; */
  box-shadow: 0 0px 20px var(--main-color);
}
/* --------------- */
