.φόρμα {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70vw;
  gap: 3vw;
  text-align: center;
}

.input-group,
.input-group-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50vw;
  gap: 2.5vh;
}

.φόρμα .input-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.input-box textarea {
  height: 20vh;
}

.φόρμα input,
.φόρμα textarea {
  width: 100%;
  padding: 1.6vh 2vw;
  font-size: 1vw;
  color: var(--text-color);
  border: 1px solid transparent;
  border-radius: 20px;
  transition: 2s ease-in-out;
}

/* ΜΟΡΦΗ ΣΤΟΙΧΕΙΩΝ */
input.με-υαλομορφισμό,
textarea.με-υαλομορφισμό {
  border-color: var(--border-color-blurred);
  background-color: rgba(0, 253, 253, 0.005);
  backdrop-filter: blur(3px);
}

input.με-αδιαφανή-στοιχεία,
textarea.με-αδιαφανή-στοιχεία {
  border-color: var(--border-color-blurred);
  background-color: var(--second-bg-color);
}

input.με-ημιδιαφανή-στοιχεία,
textarea.με-ημιδιαφανή-στοιχεία {
  border-color: var(--border-color-blurred);
  background-color: var(--second-bg-color-blurred);
}

input.με-φέγγος-ορίων,
textarea.με-φέγγος-ορίων {
  border-color: var(--main-color);
}

input.με-φέγγος-στοιχείων,
textarea.με-φέγγος-στοιχείων {
  box-shadow: 0 0px 20px var(--main-color);
}
/* --------------- */

.φόρμα .btn,
.φόρμα .btn-success {
  display: inline-block;
  padding: 1vh 2.8vw;
  box-shadow: 0 0 25px var(--main-color);
  font-size: 1rem;
  font-weight: 600;
  border: 2px solid transparent;
  border-radius: 15px;
  letter-spacing: 0.1rem;
  transition: 0.3s ease-in-out;
}

.φόρμα .btn {
  background: var(--main-color);
  color: black;
  cursor: pointer;
}
.φόρμα .btn-success {
  background: var(--success);
  color: white;
  cursor: default;
}

.φόρμα .btn:hover {
  transform: scale(1.05) translateY(-5px);
  background: var(--main-color);
  color: white;
  box-shadow: 0 0 50px var(--main-color);
}
