.φόρμα {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: var(--πλάτος-φόρμας);
  gap: 1.5vh;
  text-align: center;
}

.ομάδα-πεδίων,
.ομάδα-πεδίων-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: var(--πλάτος-φόρμας);
  max-width: 450px;
  gap: 1.5vh;
}

.φόρμα .περιέκτης-πεδίου {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.περιέκτης-πεδίου input,
.περιέκτης-πεδίου textarea {
  padding: 1.4vh 8px;
  font-size: max(1vw, 1rem);
  color: var(--κείμενο-βασικό-χρώμα);
  width: inherit;
  border: 2px solid transparent;
  border-radius: 14px;
  transition: var(--χρόνος-μετάβασης-μορφής) ease-in-out;
}

.περιέκτης-πεδίου input {
  max-height: 60px;
}

.περιέκτης-πεδίου .βέλος-περιέκτη-πεδίου-αριστερά,
.περιέκτης-πεδίου .βέλος-περιέκτη-πεδίου-κάτω {
  font-size: max(1.3vw, 13px);
  font-weight: bold;
  color: var(--βασικό-χρώμα);
  margin-bottom: 3px;
}

.περιέκτης-πεδίου .βέλος-περιέκτη-πεδίου-αριστερά {
  display: none;
}

.περιέκτης-πεδίου textarea {
  height: 20vh;
}

/* ================================================ */
@media (min-width: 480px) {
  .φόρμα .περιέκτης-πεδίου {
    flex-direction: row;
  }

  .περιέκτης-πεδίου input,
  .περιέκτης-πεδίου textarea {
    padding: 1.4vh 3vw;
    border-radius: 15px;
    flex-grow: 1;
    width: initial;
  }

  .περιέκτης-πεδίου .βέλος-περιέκτη-πεδίου-αριστερά {
    display: initial;
    margin-bottom: 0;
  }
  .περιέκτης-πεδίου .βέλος-περιέκτη-πεδίου-κάτω {
    display: none;
  }
}
/* ================================================ */
@media (min-width: 768px) {
  .ομάδα-πεδίων,
  .ομάδα-πεδίων-2 {
    width: 70vw;
    max-width: none;
  }

  .περιέκτης-πεδίου input,
  .περιέκτης-πεδίου textarea {
    /* font-size: max(1vw, 14px); */
    padding: 1.4vh 2vw;
    border-radius: 20px;
  }
}
/* ================================================ */
@media (min-width: 1024px) {
}
/* ================================================ */
@media (min-width: 1366px) {
  .φόρμα {
    flex-direction: row;
    width: 75vw;
    gap: 3vw;
  }

  .ομάδα-πεδίων,
  .ομάδα-πεδίων-2 {
    gap: 2.5vh;
  }
}

/* ΜΟΡΦΗ ΣΤΟΙΧΕΙΩΝ */
input.με-υαλομορφισμό,
textarea.με-υαλομορφισμό {
  border-color: var(--όριο-χρώμα-θολό);
  background-color: rgba(0, 253, 253, 0.005);
  backdrop-filter: blur(3px);
}

input.με-αδιαφανή-στοιχεία,
textarea.με-αδιαφανή-στοιχεία {
  border-color: var(--όριο-χρώμα-θολό);
  background-color: var(--υπ-δευτερεύον-χρώμα);
}

input.με-ημιδιαφανή-στοιχεία,
textarea.με-ημιδιαφανή-στοιχεία {
  border-color: var(--όριο-χρώμα-θολό);
  background-color: var(--υβ-δευτερεύον-χρώμα-θολό);
}

input.με-φέγγος-ορίων,
textarea.με-φέγγος-ορίων {
  border-color: var(--βασικό-χρώμα);
}

input.με-φέγγος-στοιχείων,
textarea.με-φέγγος-στοιχείων {
  /* border-width: 1px; */
  box-shadow: 0 0px 20px var(--βασικό-χρώμα);
}
/* --------------- */
