.σχετικά-με-ιστότοπο {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.περιέκτης-σχετικά-με-ιστότοπο {
  position: absolute;
  top: 20vh;
  height: 73vh;
  width: 70vw;
  padding: 5vh 2vw 10vh;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--second-bg-color-blurred);
  border: 1px solid var(--main-color);
  border-radius: 25px;
  mask-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    var(--main-color) 15%,
    var(--main-color) 80%,
    rgba(255, 255, 255, 0)
  );
}

.σχετικά-με-ιστότοπο .κείμενο-σελίδας {
  display: flex;
  font-size: 1.5rem;
  margin-top: 3vh;
  text-align: center;
  color: var(--main-color);
}
