.τομέας-σχετικά {
  position: absolute;
  top: 22vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 90%;
  padding: 0 12%;
}

.περιέκτης-σχετικά {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 73vh;
  width: 95vw;
  padding: 5vh 2vw 10vh;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--υβ-δευτερεύον-χρώμα-θολό);
  border: 2px solid var(--βασικό-χρώμα);
  border-radius: 25px;
  mask-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    var(--βασικό-χρώμα) 15%,
    var(--βασικό-χρώμα) 80%,
    rgba(255, 255, 255, 0)
  );
}

.περιέκτης-σχετικά .κείμενο-σελίδας,
.περιέκτης-σχετικά .περιέκτης-ταινιών-κύλισης,
.περιέκτης-σχετικά .περιέκτης-πλήκτρων-κειμένου {
  display: flex;
  flex-direction: column;
  font-size: clamp(0.9rem, 3vw, 1.1rem);
  margin-top: 2.3vh;
  text-align: center;
  color: var(--βασικό-χρώμα);
}

.περιέκτης-σχετικά .περιέκτης-ταινιών-κύλισης {
  width: 100%;
  margin-top: 5vh;
}
.περιέκτης-σχετικά .περιέκτης-πλήκτρων-κειμένου {
  gap: 10px;
}

.περιέκτης-σχετικά .τίτλος-ταινίας-κύλισης-κειμένου,
.περιέκτης-σχετικά .τίτλος-πλήκτρων-κειμένου {
  font-size: clamp(0.9rem, 5vw, 1.6rem);
  margin-bottom: 5px;
  color: white;
}

.περιέκτης-σχετικά .τίτλος-ταινίας-κύλισης-κειμένου {
  margin-bottom: 15px;
}

/* ================================================ */
@media (min-width: 480px) {
  .περιέκτης-σχετικά {
    width: 90vw;
  }
}
/* ================================================ */
@media (min-width: 768px) {
  .περιέκτης-σχετικά {
    width: 85vw;
  }
}
/* ================================================ */
@media (min-width: 1024px) {
  .περιέκτης-σχετικά {
    width: 70vw;
  }

  .περιέκτης-σχετικά .κείμενο-σελίδας,
  .περιέκτης-σχετικά .περιέκτης-ταινιών-κύλισης,
  .περιέκτης-σχετικά .περιέκτης-πλήκτρων-κειμένου {
    display: flex;
    flex-direction: column;
    font-size: clamp(0.9rem, 3vw, 1.25rem);
    margin-top: 2.3vh;
    text-align: center;
    color: var(--βασικό-χρώμα);
  }
}
/* ================================================ */
@media (min-width: 1366px) {
}

/* ================================================ */
@media (min-height: 400px) {
}

/* ================================================ */
@media (min-height: 550px) {
}
