.περιέκτης {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-inline: auto;
  overflow: hidden;
}

.περιέκτης:hover .στοιχείο {
  animation-play-state: paused;
}

/* Αριστερόστροφη Ταινία Κύλισης */

.περιέκτης-προς-αριστερά {
  --στοιχείο-αριστερόστροφης-ταινίας-κύλισης: 85px;
  --αριθμός-στοιχείων-αριστερόστροφης-ταινίας-κύλισης: 18;
  height: 5.5vh;
  mask-image: linear-gradient(
    to left,
    rgba(255, 255, 255, 0),
    var(--main-color) 20%,
    var(--main-color) 80%,
    rgba(255, 255, 255, 0)
  );
}

.περιέκτης-προς-αριστερά .στοιχείο {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5vh;
  width: var(--στοιχείο-αριστερόστροφης-ταινίας-κύλισης);
  /* height: calc(var(--στοιχείο-αριστερόστροφης-ταινίας-κύλισης) / 2); */
  /* background-color: var(--second-bg-color-blurred); */
  background-color: transparent;
  border: 1px solid var(--main-color);
  border-radius: 10px;
  color: var(--main-color);
  left: max(
    calc(
      var(--στοιχείο-αριστερόστροφης-ταινίας-κύλισης) *
        var(--αριθμός-στοιχείων-αριστερόστροφης-ταινίας-κύλισης)
    ),
    100%
  );
  animation: scrollLeft 30s linear infinite;

  mask-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    var(--main-color) 20%,
    var(--main-color) 80%,
    rgba(255, 255, 255, 0)
  );
}

.περιέκτης-προς-αριστερά .στοιχείο:hover {
  font-size: 0;
  width: calc(var(--στοιχείο-αριστερόστροφης-ταινίας-κύλισης))
}

.περιέκτης-προς-αριστερά .στοιχείο:hover::after {
  content: attr(data-types);
  font-size: 0.8rem;
  text-align: center;
  color: var(--main-color);
}

.περιέκτης-προς-αριστερά .στοιχείο1 {
  animation-delay: calc(
    (30s / var(--αριθμός-στοιχείων-αριστερόστροφης-ταινίας-κύλισης)) *
      (var(--αριθμός-στοιχείων-αριστερόστροφης-ταινίας-κύλισης) - 1) * -1
  );
}
.περιέκτης-προς-αριστερά .στοιχείο2 {
  animation-delay: calc(
    (30s / var(--αριθμός-στοιχείων-αριστερόστροφης-ταινίας-κύλισης)) *
      (var(--αριθμός-στοιχείων-αριστερόστροφης-ταινίας-κύλισης) - 2) * -1
  );
}
.περιέκτης-προς-αριστερά .στοιχείο3 {
  animation-delay: calc(
    (30s / var(--αριθμός-στοιχείων-αριστερόστροφης-ταινίας-κύλισης)) *
      (var(--αριθμός-στοιχείων-αριστερόστροφης-ταινίας-κύλισης) - 3) * -1
  );
}
.περιέκτης-προς-αριστερά .στοιχείο4 {
  animation-delay: calc(
    (30s / var(--αριθμός-στοιχείων-αριστερόστροφης-ταινίας-κύλισης)) *
      (var(--αριθμός-στοιχείων-αριστερόστροφης-ταινίας-κύλισης) - 4) * -1
  );
}
.περιέκτης-προς-αριστερά .στοιχείο5 {
  animation-delay: calc(
    (30s / var(--αριθμός-στοιχείων-αριστερόστροφης-ταινίας-κύλισης)) *
      (var(--αριθμός-στοιχείων-αριστερόστροφης-ταινίας-κύλισης) - 5) * -1
  );
}
.περιέκτης-προς-αριστερά .στοιχείο6 {
  animation-delay: calc(
    (30s / var(--αριθμός-στοιχείων-αριστερόστροφης-ταινίας-κύλισης)) *
      (var(--αριθμός-στοιχείων-αριστερόστροφης-ταινίας-κύλισης) - 6) * -1
  );
}
.περιέκτης-προς-αριστερά .στοιχείο7 {
  animation-delay: calc(
    (30s / var(--αριθμός-στοιχείων-αριστερόστροφης-ταινίας-κύλισης)) *
      (var(--αριθμός-στοιχείων-αριστερόστροφης-ταινίας-κύλισης) - 7) * -1
  );
}
.περιέκτης-προς-αριστερά .στοιχείο8 {
  animation-delay: calc(
    (30s / var(--αριθμός-στοιχείων-αριστερόστροφης-ταινίας-κύλισης)) *
      (var(--αριθμός-στοιχείων-αριστερόστροφης-ταινίας-κύλισης) - 8) * -1
  );
}
.περιέκτης-προς-αριστερά .στοιχείο9 {
  animation-delay: calc(
    (30s / var(--αριθμός-στοιχείων-αριστερόστροφης-ταινίας-κύλισης)) *
      (var(--αριθμός-στοιχείων-αριστερόστροφης-ταινίας-κύλισης) - 9) * -1
  );
}
.περιέκτης-προς-αριστερά .στοιχείο10 {
  animation-delay: calc(
    (30s / var(--αριθμός-στοιχείων-αριστερόστροφης-ταινίας-κύλισης)) *
      (var(--αριθμός-στοιχείων-αριστερόστροφης-ταινίας-κύλισης) - 10) * -1
  );
}
.περιέκτης-προς-αριστερά .στοιχείο11 {
  animation-delay: calc(
    (30s / var(--αριθμός-στοιχείων-αριστερόστροφης-ταινίας-κύλισης)) *
      (var(--αριθμός-στοιχείων-αριστερόστροφης-ταινίας-κύλισης) - 11) * -1
  );
}
.περιέκτης-προς-αριστερά .στοιχείο12 {
  animation-delay: calc(
    (30s / var(--αριθμός-στοιχείων-αριστερόστροφης-ταινίας-κύλισης)) *
      (var(--αριθμός-στοιχείων-αριστερόστροφης-ταινίας-κύλισης) - 12) * -1
  );
}
.περιέκτης-προς-αριστερά .στοιχείο13 {
  animation-delay: calc(
    (30s / var(--αριθμός-στοιχείων-αριστερόστροφης-ταινίας-κύλισης)) *
      (var(--αριθμός-στοιχείων-αριστερόστροφης-ταινίας-κύλισης) - 13) * -1
  );
}
.περιέκτης-προς-αριστερά .στοιχείο14 {
  animation-delay: calc(
    (30s / var(--αριθμός-στοιχείων-αριστερόστροφης-ταινίας-κύλισης)) *
      (var(--αριθμός-στοιχείων-αριστερόστροφης-ταινίας-κύλισης) - 14) * -1
  );
}
.περιέκτης-προς-αριστερά .στοιχείο15 {
  animation-delay: calc(
    (30s / var(--αριθμός-στοιχείων-αριστερόστροφης-ταινίας-κύλισης)) *
      (var(--αριθμός-στοιχείων-αριστερόστροφης-ταινίας-κύλισης) - 15) * -1
  );
}
.περιέκτης-προς-αριστερά .στοιχείο16 {
  animation-delay: calc(
    (30s / var(--αριθμός-στοιχείων-αριστερόστροφης-ταινίας-κύλισης)) *
      (var(--αριθμός-στοιχείων-αριστερόστροφης-ταινίας-κύλισης) - 16) * -1
  );
}
.περιέκτης-προς-αριστερά .στοιχείο17 {
  animation-delay: calc(
    (30s / var(--αριθμός-στοιχείων-αριστερόστροφης-ταινίας-κύλισης)) *
      (var(--αριθμός-στοιχείων-αριστερόστροφης-ταινίας-κύλισης) - 17) * -1
  );
}
.περιέκτης-προς-αριστερά .στοιχείο18 {
  animation-delay: calc(
    (30s / var(--αριθμός-στοιχείων-αριστερόστροφης-ταινίας-κύλισης)) *
      (var(--αριθμός-στοιχείων-αριστερόστροφης-ταινίας-κύλισης) - 18) * -1
  );
}
.περιέκτης-προς-αριστερά .στοιχείο19 {
  animation-delay: calc(
    (30s / var(--αριθμός-στοιχείων-αριστερόστροφης-ταινίας-κύλισης)) *
      (var(--αριθμός-στοιχείων-αριστερόστροφης-ταινίας-κύλισης) - 19) * -1
  );
}
.περιέκτης-προς-αριστερά .στοιχείο20 {
  animation-delay: calc(
    (30s / var(--αριθμός-στοιχείων-αριστερόστροφης-ταινίας-κύλισης)) *
      (var(--αριθμός-στοιχείων-αριστερόστροφης-ταινίας-κύλισης) - 20) * -1
  );
}

/* ΔΕΞΙΟΣΤΡΟΦΗ ΤΑΙΝΙΑ ΚΥΛΙΣΗΣ */

.περιέκτης-προς-δεξιά {
  --στοιχείο-δεξιόστροφης-ταινίας-κύλισης: 160px;
  --αριθμός-στοιχείων-δεξιόστροφης-ταινίας-κύλισης: 11;
  --χρονος-κύλισης-δεξιόστροφης-ταινίας-κύλισης: 30s;
  height: 4vh;
  mask-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    var(--main-color) 20%,
    var(--main-color) 80%,
    rgba(255, 255, 255, 0)
  );
}

.περιέκτης-προς-δεξιά .στοιχείο {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7vh;
  height: 2.75vh;
  width: var(--στοιχείο-δεξιόστροφης-ταινίας-κύλισης);
  padding: 0 0 2px 0;
  background-color: transparent;
  border: 1px solid var(--main-color);
  border-radius: 10px;
  color: var(--main-color);
  right: max(
    calc(
      var(--στοιχείο-δεξιόστροφης-ταινίας-κύλισης) *
        var(--αριθμός-στοιχείων-δεξιόστροφης-ταινίας-κύλισης)
    ),
    100%
  );
  animation: scrollRight var(--χρονος-κύλισης-δεξιόστροφης-ταινίας-κύλισης)
    linear infinite;
  mask-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    var(--main-color) 20%,
    var(--main-color) 80%,
    rgba(255, 255, 255, 0)
  );
}

/* .περιέκτης-προς-δεξιά .στοιχείο:hover {
  font-size: 0;
}

.περιέκτης-προς-δεξιά .στοιχείο:hover::after {
  content: attr(data-types);
  font-size: 1rem;
  text-align: center;
  color: var(--main-color);
} */

.περιέκτης-προς-δεξιά .στοιχείο1 {
  animation-delay: calc(
    (
        var(--χρονος-κύλισης-δεξιόστροφης-ταινίας-κύλισης) /
          var(--αριθμός-στοιχείων-δεξιόστροφης-ταινίας-κύλισης)
      ) *
      (var(--αριθμός-στοιχείων-δεξιόστροφης-ταινίας-κύλισης) - 1) * -1
  );
}
.περιέκτης-προς-δεξιά .στοιχείο2 {
  animation-delay: calc(
    (
        var(--χρονος-κύλισης-δεξιόστροφης-ταινίας-κύλισης) /
          var(--αριθμός-στοιχείων-δεξιόστροφης-ταινίας-κύλισης)
      ) *
      (var(--αριθμός-στοιχείων-δεξιόστροφης-ταινίας-κύλισης) - 2) * -1
  );
}
.περιέκτης-προς-δεξιά .στοιχείο3 {
  animation-delay: calc(
    (
        var(--χρονος-κύλισης-δεξιόστροφης-ταινίας-κύλισης) /
          var(--αριθμός-στοιχείων-δεξιόστροφης-ταινίας-κύλισης)
      ) *
      (var(--αριθμός-στοιχείων-δεξιόστροφης-ταινίας-κύλισης) - 3) * -1
  );
}
.περιέκτης-προς-δεξιά .στοιχείο4 {
  animation-delay: calc(
    (
        var(--χρονος-κύλισης-δεξιόστροφης-ταινίας-κύλισης) /
          var(--αριθμός-στοιχείων-δεξιόστροφης-ταινίας-κύλισης)
      ) *
      (var(--αριθμός-στοιχείων-δεξιόστροφης-ταινίας-κύλισης) - 4) * -1
  );
}
.περιέκτης-προς-δεξιά .στοιχείο5 {
  animation-delay: calc(
    (
        var(--χρονος-κύλισης-δεξιόστροφης-ταινίας-κύλισης) /
          var(--αριθμός-στοιχείων-δεξιόστροφης-ταινίας-κύλισης)
      ) *
      (var(--αριθμός-στοιχείων-δεξιόστροφης-ταινίας-κύλισης) - 5) * -1
  );
}
.περιέκτης-προς-δεξιά .στοιχείο6 {
  animation-delay: calc(
    (
        var(--χρονος-κύλισης-δεξιόστροφης-ταινίας-κύλισης) /
          var(--αριθμός-στοιχείων-δεξιόστροφης-ταινίας-κύλισης)
      ) *
      (var(--αριθμός-στοιχείων-δεξιόστροφης-ταινίας-κύλισης) - 6) * -1
  );
}
.περιέκτης-προς-δεξιά .στοιχείο7 {
  animation-delay: calc(
    (
        var(--χρονος-κύλισης-δεξιόστροφης-ταινίας-κύλισης) /
          var(--αριθμός-στοιχείων-δεξιόστροφης-ταινίας-κύλισης)
      ) *
      (var(--αριθμός-στοιχείων-δεξιόστροφης-ταινίας-κύλισης) - 7) * -1
  );
}
.περιέκτης-προς-δεξιά .στοιχείο8 {
  animation-delay: calc(
    (
        var(--χρονος-κύλισης-δεξιόστροφης-ταινίας-κύλισης) /
          var(--αριθμός-στοιχείων-δεξιόστροφης-ταινίας-κύλισης)
      ) *
      (var(--αριθμός-στοιχείων-δεξιόστροφης-ταινίας-κύλισης) - 8) * -1
  );
}
.περιέκτης-προς-δεξιά .στοιχείο9 {
  animation-delay: calc(
    (
        var(--χρονος-κύλισης-δεξιόστροφης-ταινίας-κύλισης) /
          var(--αριθμός-στοιχείων-δεξιόστροφης-ταινίας-κύλισης)
      ) *
      (var(--αριθμός-στοιχείων-δεξιόστροφης-ταινίας-κύλισης) - 9) * -1
  );
}
.περιέκτης-προς-δεξιά .στοιχείο10 {
  animation-delay: calc(
    (
        var(--χρονος-κύλισης-δεξιόστροφης-ταινίας-κύλισης) /
          var(--αριθμός-στοιχείων-δεξιόστροφης-ταινίας-κύλισης)
      ) *
      (var(--αριθμός-στοιχείων-δεξιόστροφης-ταινίας-κύλισης) - 10) * -1
  );
}
.περιέκτης-προς-δεξιά .στοιχείο11 {
  animation-delay: calc(
    (
        var(--χρονος-κύλισης-δεξιόστροφης-ταινίας-κύλισης) /
          var(--αριθμός-στοιχείων-δεξιόστροφης-ταινίας-κύλισης)
      ) *
      (var(--αριθμός-στοιχείων-δεξιόστροφης-ταινίας-κύλισης) - 11) * -1
  );
}
.περιέκτης-προς-δεξιά .στοιχείο12 {
  animation-delay: calc(
    (
        var(--χρονος-κύλισης-δεξιόστροφης-ταινίας-κύλισης) /
          var(--αριθμός-στοιχείων-δεξιόστροφης-ταινίας-κύλισης)
      ) *
      (var(--αριθμός-στοιχείων-δεξιόστροφης-ταινίας-κύλισης) - 12) * -1
  );
}
.περιέκτης-προς-δεξιά .στοιχείο13 {
  animation-delay: calc(
    (
        var(--χρονος-κύλισης-δεξιόστροφης-ταινίας-κύλισης) /
          var(--αριθμός-στοιχείων-δεξιόστροφης-ταινίας-κύλισης)
      ) *
      (var(--αριθμός-στοιχείων-δεξιόστροφης-ταινίας-κύλισης) - 13) * -1
  );
}
.περιέκτης-προς-δεξιά .στοιχείο14 {
  animation-delay: calc(
    (
        var(--χρονος-κύλισης-δεξιόστροφης-ταινίας-κύλισης) /
          var(--αριθμός-στοιχείων-δεξιόστροφης-ταινίας-κύλισης)
      ) *
      (var(--αριθμός-στοιχείων-δεξιόστροφης-ταινίας-κύλισης) - 14) * -1
  );
}
.περιέκτης-προς-δεξιά .στοιχείο15 {
  animation-delay: calc(
    (
        var(--χρονος-κύλισης-δεξιόστροφης-ταινίας-κύλισης) /
          var(--αριθμός-στοιχείων-δεξιόστροφης-ταινίας-κύλισης)
      ) *
      (var(--αριθμός-στοιχείων-δεξιόστροφης-ταινίας-κύλισης) - 15) * -1
  );
}
.περιέκτης-προς-δεξιά .στοιχείο16 {
  animation-delay: calc(
    (
        var(--χρονος-κύλισης-δεξιόστροφης-ταινίας-κύλισης) /
          var(--αριθμός-στοιχείων-δεξιόστροφης-ταινίας-κύλισης)
      ) *
      (var(--αριθμός-στοιχείων-δεξιόστροφης-ταινίας-κύλισης) - 16) * -1
  );
}
.περιέκτης-προς-δεξιά .στοιχείο17 {
  animation-delay: calc(
    (
        var(--χρονος-κύλισης-δεξιόστροφης-ταινίας-κύλισης) /
          var(--αριθμός-στοιχείων-δεξιόστροφης-ταινίας-κύλισης)
      ) *
      (var(--αριθμός-στοιχείων-δεξιόστροφης-ταινίας-κύλισης) - 17) * -1
  );
}
.περιέκτης-προς-δεξιά .στοιχείο18 {
  animation-delay: calc(
    (
        var(--χρονος-κύλισης-δεξιόστροφης-ταινίας-κύλισης) /
          var(--αριθμός-στοιχείων-δεξιόστροφης-ταινίας-κύλισης)
      ) *
      (var(--αριθμός-στοιχείων-δεξιόστροφης-ταινίας-κύλισης) - 18) * -1
  );
}
.περιέκτης-προς-δεξιά .στοιχείο19 {
  animation-delay: calc(
    (
        var(--χρονος-κύλισης-δεξιόστροφης-ταινίας-κύλισης) /
          var(--αριθμός-στοιχείων-δεξιόστροφης-ταινίας-κύλισης)
      ) *
      (var(--αριθμός-στοιχείων-δεξιόστροφης-ταινίας-κύλισης) - 19) * -1
  );
}
.περιέκτης-προς-δεξιά .στοιχείο20 {
  animation-delay: calc(
    (
        var(--χρονος-κύλισης-δεξιόστροφης-ταινίας-κύλισης) /
          var(--αριθμός-στοιχείων-δεξιόστροφης-ταινίας-κύλισης)
      ) *
      (var(--αριθμός-στοιχείων-δεξιόστροφης-ταινίας-κύλισης) - 20) * -1
  );
}

/* ================================================ */
@media (min-width: 480px) {
}
/* ================================================ */
@media (min-width: 768px) {
}
/* ================================================ */
@media (min-width: 1024px) {
  .περιέκτης {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-inline: auto;
    overflow: hidden;
  }

  .περιέκτης:hover .στοιχείο {
    animation-play-state: paused;
  }

  /* Αριστερόστροφη Ταινία Κύλισης */

  .περιέκτης-προς-αριστερά {
    --στοιχείο-αριστερόστροφης-ταινίας-κύλισης: 85px;
    --αριθμός-στοιχείων-αριστερόστροφης-ταινίας-κύλισης: 18;
    height: 5vh;
    mask-image: linear-gradient(
      to left,
      rgba(255, 255, 255, 0),
      var(--main-color) 20%,
      var(--main-color) 80%,
      rgba(255, 255, 255, 0)
    );
  }

  .περιέκτης-προς-αριστερά .στοιχείο {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5vh;
    width: var(--στοιχείο-αριστερόστροφης-ταινίας-κύλισης);
    height: calc(var(--στοιχείο-αριστερόστροφης-ταινίας-κύλισης) / 2);
    background-color: transparent;
    border: 1px solid var(--main-color);
    border-radius: 10px;
    color: var(--main-color);
    left: max(
      calc(
        var(--στοιχείο-αριστερόστροφης-ταινίας-κύλισης) *
          var(--αριθμός-στοιχείων-αριστερόστροφης-ταινίας-κύλισης)
      ),
      100%
    );
    animation: scrollLeft 30s linear infinite;
    mask-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      var(--main-color) 20%,
      var(--main-color) 80%,
      rgba(255, 255, 255, 0)
    );
  }

  .περιέκτης-προς-αριστερά .στοιχείο:hover {
    font-size: 0;
  }

  .περιέκτης-προς-αριστερά .στοιχείο:hover::after {
    content: attr(data-types);
    font-size: 1rem;
    text-align: center;
    color: var(--main-color);
  }

  .περιέκτης-προς-αριστερά .στοιχείο1 {
    animation-delay: calc(
      (30s / var(--αριθμός-στοιχείων-αριστερόστροφης-ταινίας-κύλισης)) *
        (var(--αριθμός-στοιχείων-αριστερόστροφης-ταινίας-κύλισης) - 1) * -1
    );
  }
  .περιέκτης-προς-αριστερά .στοιχείο2 {
    animation-delay: calc(
      (30s / var(--αριθμός-στοιχείων-αριστερόστροφης-ταινίας-κύλισης)) *
        (var(--αριθμός-στοιχείων-αριστερόστροφης-ταινίας-κύλισης) - 2) * -1
    );
  }
  .περιέκτης-προς-αριστερά .στοιχείο3 {
    animation-delay: calc(
      (30s / var(--αριθμός-στοιχείων-αριστερόστροφης-ταινίας-κύλισης)) *
        (var(--αριθμός-στοιχείων-αριστερόστροφης-ταινίας-κύλισης) - 3) * -1
    );
  }
  .περιέκτης-προς-αριστερά .στοιχείο4 {
    animation-delay: calc(
      (30s / var(--αριθμός-στοιχείων-αριστερόστροφης-ταινίας-κύλισης)) *
        (var(--αριθμός-στοιχείων-αριστερόστροφης-ταινίας-κύλισης) - 4) * -1
    );
  }
  .περιέκτης-προς-αριστερά .στοιχείο5 {
    animation-delay: calc(
      (30s / var(--αριθμός-στοιχείων-αριστερόστροφης-ταινίας-κύλισης)) *
        (var(--αριθμός-στοιχείων-αριστερόστροφης-ταινίας-κύλισης) - 5) * -1
    );
  }
  .περιέκτης-προς-αριστερά .στοιχείο6 {
    animation-delay: calc(
      (30s / var(--αριθμός-στοιχείων-αριστερόστροφης-ταινίας-κύλισης)) *
        (var(--αριθμός-στοιχείων-αριστερόστροφης-ταινίας-κύλισης) - 6) * -1
    );
  }
  .περιέκτης-προς-αριστερά .στοιχείο7 {
    animation-delay: calc(
      (30s / var(--αριθμός-στοιχείων-αριστερόστροφης-ταινίας-κύλισης)) *
        (var(--αριθμός-στοιχείων-αριστερόστροφης-ταινίας-κύλισης) - 7) * -1
    );
  }
  .περιέκτης-προς-αριστερά .στοιχείο8 {
    animation-delay: calc(
      (30s / var(--αριθμός-στοιχείων-αριστερόστροφης-ταινίας-κύλισης)) *
        (var(--αριθμός-στοιχείων-αριστερόστροφης-ταινίας-κύλισης) - 8) * -1
    );
  }
  .περιέκτης-προς-αριστερά .στοιχείο9 {
    animation-delay: calc(
      (30s / var(--αριθμός-στοιχείων-αριστερόστροφης-ταινίας-κύλισης)) *
        (var(--αριθμός-στοιχείων-αριστερόστροφης-ταινίας-κύλισης) - 9) * -1
    );
  }
  .περιέκτης-προς-αριστερά .στοιχείο10 {
    animation-delay: calc(
      (30s / var(--αριθμός-στοιχείων-αριστερόστροφης-ταινίας-κύλισης)) *
        (var(--αριθμός-στοιχείων-αριστερόστροφης-ταινίας-κύλισης) - 10) * -1
    );
  }
  .περιέκτης-προς-αριστερά .στοιχείο11 {
    animation-delay: calc(
      (30s / var(--αριθμός-στοιχείων-αριστερόστροφης-ταινίας-κύλισης)) *
        (var(--αριθμός-στοιχείων-αριστερόστροφης-ταινίας-κύλισης) - 11) * -1
    );
  }
  .περιέκτης-προς-αριστερά .στοιχείο12 {
    animation-delay: calc(
      (30s / var(--αριθμός-στοιχείων-αριστερόστροφης-ταινίας-κύλισης)) *
        (var(--αριθμός-στοιχείων-αριστερόστροφης-ταινίας-κύλισης) - 12) * -1
    );
  }
  .περιέκτης-προς-αριστερά .στοιχείο13 {
    animation-delay: calc(
      (30s / var(--αριθμός-στοιχείων-αριστερόστροφης-ταινίας-κύλισης)) *
        (var(--αριθμός-στοιχείων-αριστερόστροφης-ταινίας-κύλισης) - 13) * -1
    );
  }
  .περιέκτης-προς-αριστερά .στοιχείο14 {
    animation-delay: calc(
      (30s / var(--αριθμός-στοιχείων-αριστερόστροφης-ταινίας-κύλισης)) *
        (var(--αριθμός-στοιχείων-αριστερόστροφης-ταινίας-κύλισης) - 14) * -1
    );
  }
  .περιέκτης-προς-αριστερά .στοιχείο15 {
    animation-delay: calc(
      (30s / var(--αριθμός-στοιχείων-αριστερόστροφης-ταινίας-κύλισης)) *
        (var(--αριθμός-στοιχείων-αριστερόστροφης-ταινίας-κύλισης) - 15) * -1
    );
  }
  .περιέκτης-προς-αριστερά .στοιχείο16 {
    animation-delay: calc(
      (30s / var(--αριθμός-στοιχείων-αριστερόστροφης-ταινίας-κύλισης)) *
        (var(--αριθμός-στοιχείων-αριστερόστροφης-ταινίας-κύλισης) - 16) * -1
    );
  }
  .περιέκτης-προς-αριστερά .στοιχείο17 {
    animation-delay: calc(
      (30s / var(--αριθμός-στοιχείων-αριστερόστροφης-ταινίας-κύλισης)) *
        (var(--αριθμός-στοιχείων-αριστερόστροφης-ταινίας-κύλισης) - 17) * -1
    );
  }
  .περιέκτης-προς-αριστερά .στοιχείο18 {
    animation-delay: calc(
      (30s / var(--αριθμός-στοιχείων-αριστερόστροφης-ταινίας-κύλισης)) *
        (var(--αριθμός-στοιχείων-αριστερόστροφης-ταινίας-κύλισης) - 18) * -1
    );
  }
  .περιέκτης-προς-αριστερά .στοιχείο19 {
    animation-delay: calc(
      (30s / var(--αριθμός-στοιχείων-αριστερόστροφης-ταινίας-κύλισης)) *
        (var(--αριθμός-στοιχείων-αριστερόστροφης-ταινίας-κύλισης) - 19) * -1
    );
  }
  .περιέκτης-προς-αριστερά .στοιχείο20 {
    animation-delay: calc(
      (30s / var(--αριθμός-στοιχείων-αριστερόστροφης-ταινίας-κύλισης)) *
        (var(--αριθμός-στοιχείων-αριστερόστροφης-ταινίας-κύλισης) - 20) * -1
    );
  }

  /* Δεξιόστροφη Ταινία Κύλισης */

  .περιέκτης-προς-δεξιά {
    --στοιχείο-δεξιόστροφης-ταινίας-κύλισης: 160px;
    --αριθμός-στοιχείων-δεξιόστροφης-ταινίας-κύλισης: 11;
    --χρονος-κύλισης-δεξιόστροφης-ταινίας-κύλισης: 30s;
    height: 4vh;
    mask-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      var(--main-color) 20%,
      var(--main-color) 80%,
      rgba(255, 255, 255, 0)
    );
  }

  .περιέκτης-προς-δεξιά .στοιχείο {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vh;
    height: 2.2vh;
    width: var(--στοιχείο-δεξιόστροφης-ταινίας-κύλισης);
    padding: 0 0 2px 0;
    background-color: transparent;
    border: 1px solid var(--main-color);
    border-radius: 10px;
    color: var(--main-color);
    right: max(
      calc(
        var(--στοιχείο-δεξιόστροφης-ταινίας-κύλισης) *
          var(--αριθμός-στοιχείων-δεξιόστροφης-ταινίας-κύλισης)
      ),
      100%
    );
    animation: scrollRight var(--χρονος-κύλισης-δεξιόστροφης-ταινίας-κύλισης)
      linear infinite;
    mask-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      var(--main-color) 20%,
      var(--main-color) 80%,
      rgba(255, 255, 255, 0)
    );
  }

  /* .περιέκτης-προς-δεξιά .στοιχείο:hover {
    font-size: 0;
  }
  
  .περιέκτης-προς-δεξιά .στοιχείο:hover::after {
    content: attr(data-types);
    font-size: 1rem;
    text-align: center;
    color: var(--main-color);
  } */

  .περιέκτης-προς-δεξιά .στοιχείο1 {
    animation-delay: calc(
      (
          var(--χρονος-κύλισης-δεξιόστροφης-ταινίας-κύλισης) /
            var(--αριθμός-στοιχείων-δεξιόστροφης-ταινίας-κύλισης)
        ) *
        (var(--αριθμός-στοιχείων-δεξιόστροφης-ταινίας-κύλισης) - 1) * -1
    );
  }
  .περιέκτης-προς-δεξιά .στοιχείο2 {
    animation-delay: calc(
      (
          var(--χρονος-κύλισης-δεξιόστροφης-ταινίας-κύλισης) /
            var(--αριθμός-στοιχείων-δεξιόστροφης-ταινίας-κύλισης)
        ) *
        (var(--αριθμός-στοιχείων-δεξιόστροφης-ταινίας-κύλισης) - 2) * -1
    );
  }
  .περιέκτης-προς-δεξιά .στοιχείο3 {
    animation-delay: calc(
      (
          var(--χρονος-κύλισης-δεξιόστροφης-ταινίας-κύλισης) /
            var(--αριθμός-στοιχείων-δεξιόστροφης-ταινίας-κύλισης)
        ) *
        (var(--αριθμός-στοιχείων-δεξιόστροφης-ταινίας-κύλισης) - 3) * -1
    );
  }
  .περιέκτης-προς-δεξιά .στοιχείο4 {
    animation-delay: calc(
      (
          var(--χρονος-κύλισης-δεξιόστροφης-ταινίας-κύλισης) /
            var(--αριθμός-στοιχείων-δεξιόστροφης-ταινίας-κύλισης)
        ) *
        (var(--αριθμός-στοιχείων-δεξιόστροφης-ταινίας-κύλισης) - 4) * -1
    );
  }
  .περιέκτης-προς-δεξιά .στοιχείο5 {
    animation-delay: calc(
      (
          var(--χρονος-κύλισης-δεξιόστροφης-ταινίας-κύλισης) /
            var(--αριθμός-στοιχείων-δεξιόστροφης-ταινίας-κύλισης)
        ) *
        (var(--αριθμός-στοιχείων-δεξιόστροφης-ταινίας-κύλισης) - 5) * -1
    );
  }
  .περιέκτης-προς-δεξιά .στοιχείο6 {
    animation-delay: calc(
      (
          var(--χρονος-κύλισης-δεξιόστροφης-ταινίας-κύλισης) /
            var(--αριθμός-στοιχείων-δεξιόστροφης-ταινίας-κύλισης)
        ) *
        (var(--αριθμός-στοιχείων-δεξιόστροφης-ταινίας-κύλισης) - 6) * -1
    );
  }
  .περιέκτης-προς-δεξιά .στοιχείο7 {
    animation-delay: calc(
      (
          var(--χρονος-κύλισης-δεξιόστροφης-ταινίας-κύλισης) /
            var(--αριθμός-στοιχείων-δεξιόστροφης-ταινίας-κύλισης)
        ) *
        (var(--αριθμός-στοιχείων-δεξιόστροφης-ταινίας-κύλισης) - 7) * -1
    );
  }
  .περιέκτης-προς-δεξιά .στοιχείο8 {
    animation-delay: calc(
      (
          var(--χρονος-κύλισης-δεξιόστροφης-ταινίας-κύλισης) /
            var(--αριθμός-στοιχείων-δεξιόστροφης-ταινίας-κύλισης)
        ) *
        (var(--αριθμός-στοιχείων-δεξιόστροφης-ταινίας-κύλισης) - 8) * -1
    );
  }
  .περιέκτης-προς-δεξιά .στοιχείο9 {
    animation-delay: calc(
      (
          var(--χρονος-κύλισης-δεξιόστροφης-ταινίας-κύλισης) /
            var(--αριθμός-στοιχείων-δεξιόστροφης-ταινίας-κύλισης)
        ) *
        (var(--αριθμός-στοιχείων-δεξιόστροφης-ταινίας-κύλισης) - 9) * -1
    );
  }
  .περιέκτης-προς-δεξιά .στοιχείο10 {
    animation-delay: calc(
      (
          var(--χρονος-κύλισης-δεξιόστροφης-ταινίας-κύλισης) /
            var(--αριθμός-στοιχείων-δεξιόστροφης-ταινίας-κύλισης)
        ) *
        (var(--αριθμός-στοιχείων-δεξιόστροφης-ταινίας-κύλισης) - 10) * -1
    );
  }
  .περιέκτης-προς-δεξιά .στοιχείο11 {
    animation-delay: calc(
      (
          var(--χρονος-κύλισης-δεξιόστροφης-ταινίας-κύλισης) /
            var(--αριθμός-στοιχείων-δεξιόστροφης-ταινίας-κύλισης)
        ) *
        (var(--αριθμός-στοιχείων-δεξιόστροφης-ταινίας-κύλισης) - 11) * -1
    );
  }
  .περιέκτης-προς-δεξιά .στοιχείο12 {
    animation-delay: calc(
      (
          var(--χρονος-κύλισης-δεξιόστροφης-ταινίας-κύλισης) /
            var(--αριθμός-στοιχείων-δεξιόστροφης-ταινίας-κύλισης)
        ) *
        (var(--αριθμός-στοιχείων-δεξιόστροφης-ταινίας-κύλισης) - 12) * -1
    );
  }
  .περιέκτης-προς-δεξιά .στοιχείο13 {
    animation-delay: calc(
      (
          var(--χρονος-κύλισης-δεξιόστροφης-ταινίας-κύλισης) /
            var(--αριθμός-στοιχείων-δεξιόστροφης-ταινίας-κύλισης)
        ) *
        (var(--αριθμός-στοιχείων-δεξιόστροφης-ταινίας-κύλισης) - 13) * -1
    );
  }
  .περιέκτης-προς-δεξιά .στοιχείο14 {
    animation-delay: calc(
      (
          var(--χρονος-κύλισης-δεξιόστροφης-ταινίας-κύλισης) /
            var(--αριθμός-στοιχείων-δεξιόστροφης-ταινίας-κύλισης)
        ) *
        (var(--αριθμός-στοιχείων-δεξιόστροφης-ταινίας-κύλισης) - 14) * -1
    );
  }
  .περιέκτης-προς-δεξιά .στοιχείο15 {
    animation-delay: calc(
      (
          var(--χρονος-κύλισης-δεξιόστροφης-ταινίας-κύλισης) /
            var(--αριθμός-στοιχείων-δεξιόστροφης-ταινίας-κύλισης)
        ) *
        (var(--αριθμός-στοιχείων-δεξιόστροφης-ταινίας-κύλισης) - 15) * -1
    );
  }
  .περιέκτης-προς-δεξιά .στοιχείο16 {
    animation-delay: calc(
      (
          var(--χρονος-κύλισης-δεξιόστροφης-ταινίας-κύλισης) /
            var(--αριθμός-στοιχείων-δεξιόστροφης-ταινίας-κύλισης)
        ) *
        (var(--αριθμός-στοιχείων-δεξιόστροφης-ταινίας-κύλισης) - 16) * -1
    );
  }
  .περιέκτης-προς-δεξιά .στοιχείο17 {
    animation-delay: calc(
      (
          var(--χρονος-κύλισης-δεξιόστροφης-ταινίας-κύλισης) /
            var(--αριθμός-στοιχείων-δεξιόστροφης-ταινίας-κύλισης)
        ) *
        (var(--αριθμός-στοιχείων-δεξιόστροφης-ταινίας-κύλισης) - 17) * -1
    );
  }
  .περιέκτης-προς-δεξιά .στοιχείο18 {
    animation-delay: calc(
      (
          var(--χρονος-κύλισης-δεξιόστροφης-ταινίας-κύλισης) /
            var(--αριθμός-στοιχείων-δεξιόστροφης-ταινίας-κύλισης)
        ) *
        (var(--αριθμός-στοιχείων-δεξιόστροφης-ταινίας-κύλισης) - 18) * -1
    );
  }
  .περιέκτης-προς-δεξιά .στοιχείο19 {
    animation-delay: calc(
      (
          var(--χρονος-κύλισης-δεξιόστροφης-ταινίας-κύλισης) /
            var(--αριθμός-στοιχείων-δεξιόστροφης-ταινίας-κύλισης)
        ) *
        (var(--αριθμός-στοιχείων-δεξιόστροφης-ταινίας-κύλισης) - 19) * -1
    );
  }
  .περιέκτης-προς-δεξιά .στοιχείο20 {
    animation-delay: calc(
      (
          var(--χρονος-κύλισης-δεξιόστροφης-ταινίας-κύλισης) /
            var(--αριθμός-στοιχείων-δεξιόστροφης-ταινίας-κύλισης)
        ) *
        (var(--αριθμός-στοιχείων-δεξιόστροφης-ταινίας-κύλισης) - 20) * -1
    );
  }
}
/* ================================================ */
@media (min-width: 1366px) {
}
/* ================================================ */
@media (max-height: 900px) {
  .περιέκτης-προς-αριστερά .στοιχείο {
    height: fit-content;
  }
}

@keyframes scrollLeft {
  to {
    left: -100px;
  }
}

@keyframes scrollRight {
  to {
    right: -200px;
  }
}
