/* .main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; 
 font-size: 3.5rem;
  filter: blur(100px);
 padding-bottom: 150px; 
 transition: 2.5s ease;  
}*/

/* .main:hover {
  filter: blur(0);
  transition: 1.5s ease;
}  */

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--bg-color);
}

.contact h2 {
  margin-bottom: 3rem;
  color: var(--text-color);
}

.contact form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin: 5rem auto;
  text-align: center;
}

.contact form .input-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contact form .input-box input, 
.contact form textarea {
  width: 100%;
  padding: 2.5rem;
  font-size: 1.8rem;
  color: var(--text-color);
  background-color: var(--second-bg-color); 
  border: 2px solid var(--main-color);
  border-radius: 2rem;
  margin: 1.5rem 0;
  resize: none;
}

.contact form .btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  box-shadow: 0 0 25px var(--main-color);
  font-size: 2rem;
  font-weight: 600;
  color: black;
  border: 2px solid transparent;
  border-radius: 4rem;
  letter-spacing: 0.1rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  margin-top: 2rem;
}

.contact form .btn:hover {
  transform: scale(1.05) translateY(-5px);
  background: var(--main-color);
  color: white;
  box-shadow: 0 0 50px var(--main-color);
}

