.περιέκτης-εικονιδίου-ρυθμίσεων {
  position: absolute;
  right: 15px;
  bottom: 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
  z-index: 200;
}

.απόκρυψη {
  visibility: hidden;
}

.εικονίδιο-ρυθμίσεων {
  color: var(--main-color);
  font-size: 2rem;
  font-weight: bold;
}

.εικονίδιο-ρυθμίσεων:hover {
  color: gold;
}

/* ================================================ */

@media (min-width: 480px) {
}

/* ================================================ */

@media (min-width: 768px) {
}

/* ================================================ */

@media (min-width: 1024px) {
}

/* ================================================ */

@media (min-width: 1366px) {
}
