.περιέκτης-κειμένου {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 12vw;
  padding: 20px 15px;
  border: 2px solid var(--main-color);
  border-radius: 35px;
  background-color: var(--second-bg-color-blurred);
}

.κείμενο {
  font-size: 20px;
  font-weight: bold;
  color: rgb(196, 0, 0);
  text-align: center;
}

/* ================================================ */
@media (min-width: 480px) {
}
/* ================================================ */
@media (min-width: 768px) {
}
/* ================================================ */
@media (min-width: 1024px) {
  .περιέκτης-κειμένου {
    display: none;
  }
}
/* ================================================ */
@media (min-width: 1366px) {
 
}
