.περιέκτης-κειμένου {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: min(450px, 80vw);
  padding: 20px 15px;
  border-radius: 35px;
  background-color: transparent;
  gap: 15px;
}

.παράγραφος {
  font-size: 0.75rem;
  font-weight: bold;
  color: var(--ποιότητα);
  text-align: center;
}

/* ================================================ */
@media (min-width: 480px) {
  .περιέκτης-κειμένου {
    margin: 0 8vw;
  }

  .παράγραφος {
    font-size: 0.8rem;
    font-weight: bold;
    color: var(--ποιότητα);
    text-align: center;
  }
}
/* ================================================ */
@media (min-width: 768px) {
  .περιέκτης-κειμένου {
    margin: 0 10vw;
  }

  .παράγραφος {
    font-size: 1rem;
    font-weight: bold;
    color: var(--ποιότητα);
    text-align: center;
  }
}
/* ================================================ */
@media (min-width: 1024px) {
  .απόκρυψη-στα-1024px {
    display: none;
  }
}
/* ================================================ */
@media (min-width: 1366px) {
  .απόκρυψη-στα-1366px {
    display: none;
  }
}

/* ================================================ */
@media (min-height: 600px) {
  .παράγραφος {
    font-size: 1rem;
  }
}

/* ================================================ */
@media (min-height: 550px) {
}
