/* .main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; 
 font-size: 3.5rem;
  filter: blur(100px);
 padding-bottom: 150px; 
 transition: 2.5s ease;  
}*/

/* .main:hover {
  filter: blur(0);
  transition: 1.5s ease;
}  */


.education {
  padding: 100px;
  
}

.education h2 {
  margin-bottom: 5rem;
}

.fixed {
  position: fixed;
  top: 24rem;
  /* display: flex; */
  /* justify-content: center; */
  font-size: 8rem;
  text-align: center;
}


