.name {
  margin-bottom: 5px;
  color: white;
  font-size: 6.7vw;
  font-weight: bold;
  text-align: center;
}

.landing__action {
  text-decoration: none;
  color: white;
}

.landing__action-button {
  background: transparent;
  position: relative;
  color: hsla(0, 0%, 100%, 0.006);
  font-size: 16px;
  font-weight: bold;
  height: 30px;
  width: 121px;
  text-align: center;
  border: none;
  padding-bottom: 2px;
  cursor: pointer;
  outline: none;
  /* border: 1px solid #00fdfd98; */
  border-radius: 50px;
  transition: color 1s ease;
}

.landing__action-button::before {
  content: '';
  background: linear-gradient(
    45deg,
    rgba(201, 136, 130, 0.84),
    rgba(131, 118, 135, 0.95),
    rgba(0, 108, 186, 0.58),
    rgba(135, 74, 88, 0.75),
    rgba(201, 136, 130, 0.84),
    rgba(131, 118, 135, 0.95),
    rgba(63, 66, 83, 0.80),
    rgba(0, 108, 186, 0.373)
  );
  position: absolute;
  top: -2px;
  left: -4px;
  background-size: 600%;
  z-index: -1;
  height: calc(65% + 10px);
  width: calc(100% + 10px);
  filter: blur(15px);
  animation: glowing 60s linear infinite;
  border-radius: 10px;
}

.landing__action-button::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 10px;
  z-index: -1;
}

.landing__action-button:hover {
  color: #00fdfdb7;
  transition: color 3s ease;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  25% {
    background-position: 200% 0;
  }
  50% {
    background-position: 400% 0;
  }
  75% {
    background-position: 200% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@media (min-width: 40rem) {
  .name {
    margin-bottom: 3.5vw;
  }

  .landing__action-button {
    font-size: 3vw;
    height: 4.7vw;
    width: 19vw;
    padding-bottom: 0.4vw;
    z-index: 0;
  }

  .landing__action-button::before {
    top: -4px;
    left: -4px;
    height: 120%;
    filter: blur(85px);
    border-radius: 40px;
  }

  .landing__action-button::after {
    height: 100%;
    border-radius: 40px;
  }
}
