@media (min-width: 40rem) {
  .home {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4.5vw;
    color: white;
    text-align: center;
    transition: all 2s ease-in-out;
  }

  /* .home-dynamic {
    gap: 4.5vw;
    transition: 2s ease-in-out
  } */

  .home-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    text-align: left;
    height: 43vh;
    width: 60%;
    padding: 0 2vw 3vh;
    transition: all 2s ease-in-out;
  }

  .home-content-dynamic {
    border-radius: 35px;
    backdrop-filter: blur(2px);
    background-color: rgba(0, 253, 253, 0.005);
    box-shadow: 0 0px 20px var(--main-color);
  }

  /* .home-content-dynamic {
    border-radius: 35px;
    background-color: var(--second-bg-color-blurred);
    box-shadow: 0 0px 20px var(--main-color);
  } */

  .home-content span {
    color: var(--main-color);
  }

  .home-content h1 {
    display: flex;
    font-size: 3rem;
    font-weight: 700;
    margin-top: 2vh;
    line-height: 1;
  }

  .home-content h3 {
    display: flex;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 2vh;
  }

  .text-animation:before {
    content: '';
    animation: words 20s linear infinite;
    /* font-size: 2rem;
    font-weight: 600;
    min-width: 280px; */
  }

  /* @keyframes cursor {
    to {
      border-left: 2px solid var(--main-color);
    }
  } */

  @keyframes words {
    0% {
      content: '';
      opacity: 0;
    } 1%,
    18% {
      content: 'Προγραμματιστής Ιστού';
      opacity: 1;
    }
    19%,
    20% {
      content: '';
      opacity: 0;
    } 21%,
    38% {
      content: 'Προγραμματιστής Πίσω Μέρους';
      opacity: 1;
    }
    39%,
    40% {
      content: '';
      opacity: 0;
    } 41%,
    58% {
      content: 'Προγραμματιστής Εφαρμογών';
      opacity: 1;
    }
    59%,
    60% {
      content: '';
      opacity: 0;
    } 61%,
    78% {
      content: 'Προγραμματιστής Μπροστά Μέρους';
      opacity: 1;
    }
    79%,
    80% {
      content: '';
      opacity: 0;
    } 81%,
    100% {
      content: 'Σχεδιαστής ΔΧ / ΕΧ';
      opacity: 1;
    }
  }

  @keyframes typing {
    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95% {
      width: 0;
    }
    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85% {
      width: calc(100% + 8px);
    }
  }

  .home-content p {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.8;
    max-width: 1000px;
  }

  .btn-group {
    display: flex;
    align-items: center;
    gap: 1.5vw;
  }

  .sliders-container {
    width: 95%;
    margin: 2vh 0;
  }

  .btn,
  .btn-sec {
    display: inline-block;
    padding: 1vh 2.8vw;
    background: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
    font-size: 1rem;
    font-weight: 600;
    color: black;
    border: 2px solid transparent;
    border-radius: 15px;
    letter-spacing: 0.1rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }

  .btn:hover,
  .btn-sec:hover {
    transform: scale(1.05) translateY(-5px);
    background: var(--main-color);
    color: white;
    box-shadow: 0 0 50px var(--main-color);
  }

  .btn-sec {
    background: var(--second-bg-color-blurred);
    color: var(--main-color);
    border: 2px solid var(--main-color);
    box-shadow: 0 0 25px transparent;
  }

  .home-img .img {
    border-radius: 40%;
    /* padding: 20px; */
    padding: 10px;
    border: none;
    background-color: var(--main-color);
    /* background-color: transparent; */
    box-shadow: 0 0 25px var(--main-color);
    /* box-shadow: 0 0 25px var(--main-color), 0 0 50px var(--main-color),
      0 0 100px var(--main-color); */
    /* box-shadow: 0 0 25px var(--main-color), 0 0 50px var(--main-color); */
    cursor: pointer;
    transform: scale(1.05);
    /* transform: scale(.95); */
    /* transition: border 0.7s ease-in-out; */
    transition: 0.7s ease-in-out;
  }

  .home-img .img:hover {
    padding: 20px;
    /* padding: 10px; */
    /* border: 10px solid var(--main-color); */
    /* background-color: var(--main-color); */
    background-color: transparent;
    box-shadow: 0 0 25px var(--main-color), 0 0 50px var(--main-color),
      0 0 100px var(--main-color), 0 0 125px var(--main-color);
    /* box-shadow: 0 0 25px var(--main-color), 0 0 50px var(--main-color); */
    /* transform: scale(1.05); */
    transform: scale(0.95);
    transition: 0.7s ease-in-out;
  }
}
