.home-side-nav {
  display: none;
}

@media (min-width: 40rem) {
  .home-side-nav {
    display: flex;
    position: fixed;
    right: 50px;
    top: 0;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 150;
  }

  .home-side-nav__items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc((6 * 5vh) + 5vh + 2.5vh);
    width: calc(3.5vh + 2.5vh);
    padding: 10px 15px 0;
    gap: 1.5vh;
    background-color: var(--second-bg-color-blurred);
    border: 1px solid var(--main-color);
    border-radius: 15px;
    list-style: none;
  }

  .home-side-nav__item {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    transition: 0.3s ease-in;
  }

  .home-side-nav__item:hover {
    transform: scale(125%);
    transition: 0.3s ease-in;
    cursor: pointer;
  }
}
