.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icons .link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 2.2rem;
  width: 2.2rem;
  background: transparent;
  border: 1.5px solid var(--βασικό-χρώμα);
  font-size: 1.3rem;
  border-radius: 50%;
  color: var(--βασικό-χρώμα);
  margin: 1rem 0.5rem;
  transition: 0.3s ease-in-out;
}

.social-icons .link:hover {
  color: var(--κείμενο-βασικό-χρώμα);
  background: var(--βασικό-χρώμα);
  box-shadow: 0 0 25px var(--βασικό-χρώμα);
  transform: scale(1.1) translateY(-5px);
}