.tech {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vh;
  border-radius: 10px;
  left: max(calc(var(--slide-item-width) * var(--tech-number)), 100%);
}

.tech:hover {
  font-size: 0;
}

.tech:hover::after {
  content: attr(data-types);
  font-size: 1.3vh;
  text-align: center;
  padding: 0 0 1px 0;
  color: var(--βασικό-χρώμα);
}

.tech-icon {
  color: var(--βασικό-χρώμα);
}
