.timeline-items {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  /* background: var(--second-bg-color-blurred); */
  width: 1300px;
  margin: auto;
  border: 1px solid transparent;
  border-radius: 50px;
}

.timeline-items::before {
  content: '';
  position: absolute;
  width: 4px;
  height: 100%;
  background-color: var(--main-color);
  left: calc(50% - 1px);
}

.timeline-item {
  position: relative;
  width: 100%;
}

.timeline-item:nth-child(odd) {
  padding-right: calc(50% + 30px);
  text-align: right;
}

.timeline-item:nth-child(even) {
  padding-left: calc(50% + 30px);
  text-align: left;
}

.timeline-item:last-child {
  margin-bottom: 0;
}

.timeline-dot {
  position: absolute;
  height: 22px;
  width: 22px;
  background-color: var(--second-bg-color-blurred);
  box-shadow: 0 0 25px var(--main-color) 0 0 50px var(--main-color);
  top: calc(50% - 11px);
  left: calc(50% - 10px);
  border: 3px solid var(--main-color);
  border-radius: 50%;
  z-index: -1;
}

.timeline-content {
  background-color: var(--second-bg-color-blurred);
  width: 600px;
  border: 3px solid var(--main-color);
  padding: 30px 50px;
  border-radius: 4rem;
  box-shadow: 0 0 10px var(--main-color);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.timeline-content:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px var(--main-color);
  background-color: var(--second-bg-color);
}

.timeline-upper-line-odd,
.timeline-upper-line-even {
  display: flex;
  align-items: center;
  font-weight: bold;
  color: var(--text-color);
}

.timeline-upper-line-odd {
  flex-direction: row-reverse;
  justify-content: end;
}

.timeline-upper-line-even {
  flex-direction: row;
  justify-content: start;
}

.timeline-upper-line-odd .timeline-date {
  font-size: 40px;
  padding-left: 15px;
  border-left: 4px solid var(--main-color);
}

.timeline-upper-line-even .timeline-date {
  font-size: 40px;
  padding-right: 15px;
  border-right: 4px solid var(--main-color);
}

.timeline-upper-line-odd h3,
.timeline-upper-line-even h3 {
  font-size: 30px;
}
.course-entity-odd,
.course-entity-even {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 15px 4px;
  gap: 0.4rem;
}

.course-entity-odd {
  align-items: end;
}
.course-entity-even {
  align-items: start;
}

.course-entity-odd h3, 
.course-entity-even h3 {
  font-size: 28px;
}
.course-entity-odd h6, 
.course-entity-even h6 {
  font-size: 14px;
}

.timeline-content p {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  margin-top: 15px;

}
