.timeline-items {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  height: 63vh;
  border-radius: 50px;
  overflow-y: auto;
  overflow-x: hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.timeline-items::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.timeline-items {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* .timeline-items::before {
  content: '';
  position: absolute;
  width: 0px;
  height: 100px;
  background-color: var(--main-color);
  border: 2px dashed var(--main-color);
  top: 0px;
  left: calc(50% - 1px);
} */

.timeline-item {
  position: relative;
  width: 100%;
}

.timeline-item:nth-child(odd) {
  padding-right: calc(50% + 1.5vw);
  text-align: right;
  /* margin-right: 1vw; */
}

.timeline-item:nth-child(odd)::before {
  content: '';
  position: absolute;
  width: 0;
  height: 100%;
  border-right: 0.3vw solid var(--main-color);
  left: calc(50%);
}

.timeline-item:nth-child(even) {
  padding-left: calc(50% + 1.8vw);
  text-align: left;
}

.timeline-item:nth-child(even)::before {
  content: '';
  position: absolute;
  width: 0;
  height: 100%;
  border-right: 0.3vw solid var(--main-color);
  left: calc(50%);
}

.timeline-item:first-child {
  margin-top: 0;
}

.timeline-item:last-child {
  margin-bottom: 0;
}

.timeline-dot {
  position: absolute;
  height: 1.3vw;
  width: 1.3vw;
  background-color: var(--second-bg-color);
  box-shadow: 0 0 25px var(--main-color) 0 0 50px var(--main-color);
  top: calc(50% - 0.5vw);
  left: calc(50% - 0.5vw);
  border: 0.3vw solid var(--main-color);
  border-radius: 50px;
  z-index: 0;
}

.timeline-content {
  background-color: var(--second-bg-color-blurred);
  border: 0.2vw solid var(--main-color);
  padding: 2vh 2vw;
  border-radius: 40px;
  box-shadow: 0 0 10px var(--main-color);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.timeline-content:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px var(--main-color);
  background-color: var(--second-bg-color);
}

.timeline-upper-line-odd,
.timeline-upper-line-even {
  display: flex;
  align-items: center;
  font-weight: bold;
  color: var(--text-color);
}

.timeline-upper-line-odd {
  flex-direction: row-reverse;
  justify-content: end;
}

.timeline-upper-line-even {
  flex-direction: row;
  justify-content: start;
}

.timeline-upper-line-odd .timeline-date {
  font-size: 2vw;
  padding-left: 1vw;
  border-left: 4px solid var(--main-color);
}

.timeline-upper-line-even .timeline-date {
  font-size: 2vw;
  padding-right: 1vw;
  border-right: 4px solid var(--main-color);
}

.timeline-upper-line-odd h3,
.timeline-upper-line-even h3 {
  font-size: 1.5vw;
}
.course-entity-odd,
.course-entity-even {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1vw 4px;
  gap: 0.15vw;
}

.course-entity-odd {
  align-items: end;
}
.course-entity-even {
  align-items: start;
}

.course-entity-odd h3,
.course-entity-even h3 {
  font-size: 1.5vw;
}
.course-entity-odd h6,
.course-entity-even h6 {
  font-size: 0.7vw;
}

.timeline-content p {
  color: var(--text-color);
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 22px;
  margin-top: 15px;
}
