.ribbon {
  position: absolute;
  top: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-color);
  text-align: center;
  font-size: 1.2vw;
  font-weight: bold;
  padding: 0.6vh 1vw;
  margin: 0.2vw;
  z-index: 5;
  gap: 10px;
  border: 2px solid crimson;
  border-radius: 15px;
}

.ποσοστό {
  text-decoration: none;
  color: inherit;
}
