.περιεχόμενο-αρχικής {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95vw;
  padding: 0 2vw 1vh;
  transition: all 2s ease-in-out;
}

.περιεχόμενο-αρχικής span {
  color: var(--βασικό-χρώμα);
}

.περιεχόμενο-αρχικής h1 {
  display: flex;
  font-size: 7vw;
  font-weight: 700;
  margin-top: 2vh;
  line-height: 1;
}

.περιεχόμενο-αρχικής p {
  display: flex;
  font-size: clamp(0.9rem, 3vw, 2rem);
  margin-top: 2vh;
  margin-bottom: 1vh;
  text-align: center;
}

.περιέκτης-ταινιών-κύλισης {
  width: 100%;
  margin: 1vh 0;
}

.περιέκτης-λογότυπου {
  --λόγος-πλευρών-λογότυπου: 345 / 300;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40%;
  padding: 12px;
  border: none;
  background-color: var(--βασικό-χρώμα);
  box-shadow: 0 0 25px var(--βασικό-χρώμα);
  transition: var(--χρόνος-μετάβασης-μορφής) ease-in-out;
  height: auto;
  width: 100%;
  max-width: 345px;
  margin: 0 auto;
  aspect-ratio: var(--λόγος-πλευρών-λογότυπου);
}

.περιέκτης-λογότυπου:hover {
  background-color: transparent;
  box-shadow:
    0 0 25px var(--βασικό-χρώμα),
    0 0 50px var(--βασικό-χρώμα),
    0 0 100px var(--βασικό-χρώμα),
    0 0 125px var(--βασικό-χρώμα);
}

.περιέκτης-λογότυπου .λογότυπο {
  /* cursor: pointer; */
  transition: var(--χρόνος-μετάβασης-μορφής) ease-in-out;
}

.περιέκτης-λογότυπου:hover .λογότυπο {
  transform: scale(0.95);
}

.λογότυπο-ενιαίο {
  display: flex;
  width: 100%;
  height: 100%;
  /* aspect-ratio: var(--λόγος-πλευρών-λογότυπου); */
  margin: 0 auto;
  transition: all 0.5s;
}

.περιέκτης-λογότυπου .εικόνα {
  fill: var(--υβ-δευτερεύον-χρώμα-θολό);
  transition: var(--χρόνος-μετάβασης-μορφής) ease-in-out;
}

.περιέκτης-λογότυπου:hover .εικόνα {
  fill: gold;
  stroke: white;
  stroke-width: 5px;
  transition: 0.4s ease-in-out;
}

.περιέκτης-λογότυπου .εικόνα:not(:hover) {
  stroke-width: 0px;
  transition: 0.4s ease-in-out;
}

.περιέκτης-λογότυπου:hover .εικόνα:hover {
  fill: white;
  stroke: gold;
}

/* ================================================ */
@media (min-width: 480px) {
}
/* ================================================ */
@media (min-width: 768px) {
}
/* ================================================ */
@media (min-width: 1024px) {
 .περιεχόμενο-αρχικής {
    align-items: baseline;
    width: 100%;
    padding: 0 2vw 3vh;
  }

  .περιεχόμενο-αρχικής span {
    color: var(--βασικό-χρώμα);
  }

  .περιεχόμενο-αρχικής h1 {
    display: flex;
    font-size: 3rem;
    font-weight: 700;
    margin-top: 2vh;
    line-height: 1;
  }

  .περιεχόμενο-αρχικής h3 {
    display: flex;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 2vh;
    text-align: left;
  }

  .περιεχόμενο-αρχικής p {
    text-align: left;
  }

  .περιέκτης-ταινιών-κύλισης {
    width: 100%;
    margin: 2vh 0;
  }

  .περιέκτης-πλήκτρων-ηρώου {
    display: flex;
    align-items: center;
    gap: 1.5vw;
  }

  .περιέκτης-λογότυπου {
    box-shadow: 0 0 25px var(--βασικό-χρώμα);
    transition: var(--χρόνος-μετάβασης-μορφής) ease-in-out;
    height: auto;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    aspect-ratio: var(--λόγος-πλευρών-λογότυπου);
  }

  .περιέκτης-λογότυπου:hover {
    background-color: transparent;
    box-shadow:
      0 0 25px var(--βασικό-χρώμα),
      0 0 50px var(--βασικό-χρώμα),
      0 0 100px var(--βασικό-χρώμα),
      0 0 125px var(--βασικό-χρώμα);
  }

  .περιέκτης-λογότυπου .λογότυπο {
    /* cursor: pointer; */
    transition: var(--χρόνος-μετάβασης-μορφής) ease-in-out;
  }

  .περιέκτης-λογότυπου:hover .λογότυπο {
    transform: scale(0.95);
  }

  .λογότυπο-ενιαίο {
    display: flex;
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    scale: 1.35;
  }

  .περιέκτης-λογότυπου .εικόνα {
    fill: var(--υβ-δευτερεύον-χρώμα-θολό);
    transition: var(--χρόνος-μετάβασης-μορφής) ease-in-out;
  }

  .περιέκτης-λογότυπου:hover .εικόνα {
    fill: gold;
    stroke: white;
    stroke-width: 5px;
    transition: 0.4s ease-in-out;
  }

  .περιέκτης-λογότυπου .εικόνα:not(:hover) {
    stroke-width: 0px;
    transition: 0.4s ease-in-out;
  }

  .περιέκτης-λογότυπου:hover .εικόνα:hover {
    fill: white;
    stroke: gold;
  }
}
/* ================================================ */
@media (min-width: 1366px) {
}
