.πλαίσιο-μορφής {
  background: var(--υβ-δευτερεύον-χρώμα-θολό);
  border: none;
  border-radius: none;
  transition: all var(--χρόνος-μετάβασης-μορφής) ease-in-out;
  overflow: hidden;
}
.αρχική-ρύθμιση-διαστάσεων {
  display: block;
}
.διαστάσεις-από-έξω {
  height: 100%;
  width: 100%;
}
.διαστάσεις-από-μέσα {
  display: inline-block;
}

/* ======================= Ύψος ======================= */

/* @media (min-height: 300px) {
   .απόκρυψη-σε-ύψος-300px {
    display: none;
  }
}
@media (min-height: 320px) {
  .απόκρυψη-σε-ύψος-320px {
    display: none;
  }
}
@media (min-height: 360px) {
  .απόκρυψη-σε-ύψος-360px {
    display: none;
  }
}
@media (min-height: 420px) {
  .απόκρυψη-σε-ύψος-420px {
    display: none;
  }
}
@media (min-height: 480px) {
  .απόκρυψη-σε-ύψος-480px {
    display: none;
  }
} */

@media (min-height: 550px) {
  .απόκρυψη-σε-ύψος-550px {
    display: none;
  }
}

/* ====================== Πλάτος ====================== */

/* ---------------------------------------  */
@media (min-width: 480px) {
  .απόκρυψη-σε-πλάτος-480px {
    display: none;
  }
}
/* ---------------------------------------  */
@media (min-width: 768px) {
  .απόκρυψη-σε-πλάτος-768px {
    display: none;
  }
}
/* ---------------------------------------  */
@media (min-width: 1024px) {
  .απόκρυψη-σε-πλάτος-1024px {
    display: none;
  }
}
/* ---------------------------------------  */
@media (min-width: 1366px) {
  .απόκρυψη-σε-πλάτος-1366px {
    display: none;
  }
}

/* ΜΟΡΦΗ ΣΤΟΙΧΕΙΩΝ */

.με-υαλομορφισμό {
  border-color: var(--όριο-χρώμα-θολό);
  background-color: rgba(0, 253, 253, 0.005);
  backdrop-filter: blur(3px);
}

.με-αδιαφανή-στοιχεία {
  border-color: var(--όριο-χρώμα-θολό);
  background-color: var(--υβ-δευτερεύον-χρώμα);
}
.με-ημιδιαφανή-στοιχεία {
  border-color: var(--όριο-χρώμα-θολό);
  background-color: var(--υβ-δευτερεύον-χρώμα-θολό);
}
.με-φέγγος-ορίων {
  border-color: var(--βασικό-χρώμα);
}
.με-φέγγος-στοιχείων {
  box-shadow: 0 0px 20px var(--βασικό-χρώμα);
}

.πάχος-ορίου-0 {
  border-width: 0px;
  border-style: solid;
}
.πάχος-ορίου-1 {
  border-width: 1px;
  border-style: solid;
}
.πάχος-ορίου-2 {
  border-width: 2px;
  border-style: solid;
}
.πάχος-ορίου-3 {
  border-width: 3px;
  border-style: solid;
}

.ακτίνα-γωνίας-15 {
  border-radius: 15px;
}
.ακτίνα-γωνίας-25 {
  border-radius: 25px;
}
.ακτίνα-γωνίας-35 {
  border-radius: 35px;
}
