.πλαίσιο-μορφής-στοιχείου-χαρτοφυλακίου {
  position: relative;
  min-height: 250px;
  max-height: 250px;
  min-width: 330px;
  max-width: 450px;
  margin: 0.6rem;
  color: var(--κείμενο-βασικό-χρώμα);
  background: var(--υβ-δευτερεύον-χρώμα-θολό);
  border: none;
  transition: all var(--χρόνος-μετάβασης-μορφής) ease-in-out;
  cursor: pointer;
  overflow: hidden;
}

.χωρίς-εξωτερικό-περιθώριο {
  margin: 0;
}

.διαστάσεις-από-έξω {
  height: 100%;
  width: 100%;
}
.διαστάσεις-από-μέσα {
  display: inline-block;
}

/* ΜΟΡΦΗ ΣΤΟΙΧΕΙΩΝ */
.με-υαλομορφισμό {
  border-color: var(--όριο-χρώμα-θολό);
  background-color: rgba(0, 253, 253, 0.005);
  /* backdrop-filter: blur(3px); */
}

.με-αδιαφανή-στοιχεία {
  border-color: var(--όριο-χρώμα-θολό);
  background-color: var(--υπ-δευτερεύον-χρώμα);
}
.με-ημιδιαφανή-στοιχεία {
  border-color: var(--όριο-χρώμα-θολό);
  background-color: var(--υβ-δευτερεύον-χρώμα-θολό);
}
.με-φέγγος-ορίων {
  border-color: var(--βασικό-χρώμα);
}
.με-φέγγος-στοιχείων {
  box-shadow: 0 0px 20px var(--βασικό-χρώμα);
}

.πάχος-ορίου-0 {
  border-width: 0px;
  border-style: solid;
}
.πάχος-ορίου-1 {
  border-width: 1px;
  border-style: solid;
}
.πάχος-ορίου-2 {
  border-width: 2px;
  border-style: solid;
}
.πάχος-ορίου-3 {
  border-width: 3px;
  border-style: solid;
}

.ακτίνα-γωνίας-15 {
  border-radius: 15px;
}
.ακτίνα-γωνίας-25 {
  border-radius: 25px;
}
.ακτίνα-γωνίας-35 {
  border-radius: 35px;
}
