.τίτλος {
  position: fixed;
  top: var(--τίτλος-τοποθεσία-βασική);
  display: flex;
  justify-content: center;
  font-size: var(--τίτλος-μέγεθος-βασικό);
  text-align: center;
}

/* @media (orientation: landscape) and (min-height: 700px) {
} */

/* ================================================ */
@media (orientation: landscape) and (min-height: 700px) and (min-width: 480px) {
  .τίτλος {
    font-size: var(--τίτλος-μέγεθος-τοπίο-ύψος-700-πλάτος-480);
  }
}
/* ================================================ */
@media (orientation: landscape) and (min-height: 700px) and (min-width: 768px) {
  .τίτλος {
    font-size: var(--τίτλος-μέγεθος-τοπίο-ύψος-700-πλάτος-768);
  }
}
/* ================================================ */
@media (orientation: landscape) and (min-height: 700px) and (min-width: 1024px) {
  .τίτλος {
    font-size: var(--τίτλος-μέγεθος-τοπίο-ύψος-700-πλάτος-1024);
  }
}
/* ================================================ */
@media (orientation: landscape) and (min-height: 700px) and (min-width: 1366px) {
  .τίτλος {
    top: var(--τίτλος-τοποθεσία-τοπίο-ύψος-700-πλάτος-1366);
  }
}

/* ================================================ */

/* @media (orientation: portrait) {
} */

/* ================================================ */

@media (orientation: portrait) and (min-height: 400px) {
}

/* ================================================ */

@media (orientation: portrait) and (min-height: 768px) {
  .τίτλος {
    top: var(--τίτλος-τοποθεσία-πορτραίτο-ύψος-768);
    /* font-size: 3rem; */
  }
}

/* ================================================ */

@media (orientation: portrait) and (min-height: 768px) and (min-width: 480px) {
  .τίτλος {
    font-size: 3rem;
  }
}
