.τίτλος {
  position: fixed;
  top: var(--τίτλος-τοποθεσία-βασική);
  display: flex;
  justify-content: center;
  font-size: var(--τίτλος-μέγεθος-βασικό);
  text-align: center;
}

/* ===================== Πορτραίτο ===================== */

/* ---------------------------------------  */
/* @media (orientation: portrait) {
} */

/* ---------------------------------------  */
/* @media (orientation: portrait) and (min-height: 400px) {
} */

/* ---------------------------------------  */

@media (orientation: portrait) and (min-height: 768px) {
  .τίτλος {
    top: var(--τίτλος-τοποθεσία-πορτραίτο-ύψος-768);
    /* font-size: 3rem; */
  }
}

/* ---------------------------------------  */

@media (orientation: portrait) and (min-height: 768px) and (min-width: 480px) {
  .τίτλος {
    font-size: var(--τίτλος-μέγεθος-πορτραίτο-ύψος-768-πλάτος-480);
  }
}

/* ====================== Τοπίο ====================== */

@media (orientation: landscape) and (min-height: 550px) {
  .τίτλος {
    top: var(--τίτλος-τοποθεσία-τοπίο-ύψος-550px);
  }
}
@media (orientation: landscape) and (min-height: 700px) {
  .τίτλος {
    top: var(--τίτλος-τοποθεσία-τοπίο-ύψος-700px);
  }
}
@media (orientation: landscape) and (min-height: 768px) {
  .τίτλος {
    top: var(--τίτλος-τοποθεσία-τοπίο-ύψος-768px);
  }
}
@media (orientation: landscape) and (min-height: 950px) {
  .τίτλος {
    top: var(--τίτλος-τοποθεσία-τοπίο-ύψος-950px);
  }
}
@media (orientation: landscape) and (min-height: 1024px) {
  .τίτλος {
    top: var(--τίτλος-τοποθεσία-τοπίο-ύψος-1024px);
  }
}

/* ---------------------------------------  */

@media (orientation: landscape) and (min-height: 550px) and (min-width: 768) {
  .τίτλος {
    font-size: var(--τίτλος-μέγεθος-τοπίο-ύψος-550-πλάτος-768);
  }
}

/* ---------------------------------------  */

@media (orientation: landscape) and (min-height: 768px) and (min-width: 1024px) {
  .τίτλος {
    font-size: var(--τίτλος-μέγεθος-τοπίο-ύψος-768-πλάτος-1024);
  }
}

/* ---------------------------------------  */

@media (orientation: landscape) and (min-height: 950px) and (min-width: 1900px) {
  .τίτλος {
    font-size: var(--τίτλος-μέγεθος-τοπίο-ύψος-950-πλάτος-1900);
  }
}

/* ---------------------------------------  */

@media (orientation: landscape) and (min-height: 1024px) and (min-width: 1366px) {
  .τίτλος {
    font-size: var(--τίτλος-μέγεθος-τοπίο-ύψος-1024-πλάτος-1366);
  }
}

/* ============= Απόκρυψη σε μικρές οθόνες  ============= */

/* ---------------------------------------  */
@media (max-height: 549px) {
  .τίτλος {
    display: none;
  }
}
