.εικόνα-υποβάθρου {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  min-height: 100dvh;
  width: 100dvw;
  min-width: 100dvw;
  background: url('../../public/images/background.jpg') center/cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}
