.στοιχεία-χρονολογίου {
  --χρώμα-σπουδών: rgb(197, 68, 84);
  --χρώμα-εργασίας: rgb(0, 128, 255);
  --χρώμα-έργων: rgb(88, 0, 196);
  --χρώμα-ολοκληρωμένου: rgb(0, 187, 0);
  --χρώμα-εν-εξελίξει: rgb(255, 128, 2);
  --χρώμα-εν-αναμονή: white;
  --χρώμα-παρατημένου: rgb(196, 0, 0);
  /* rgb(165, 42, 42); */
  /* rgb(0, 206, 148); */
  /* rgb(88, 0, 196); */
  /* rgb(0, 187, 0); */
  /* rgb(190, 196, 0); */
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  padding: 8vh 3vw 10vh;
  border-radius: 50px;
  overflow-y: auto;
  overflow-x: hidden;
}

.στοιχεία-χρονολογίου.με-θολό-κάλυμμα {
  mask-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    var(--βασικό-χρώμα) 15%,
    var(--βασικό-χρώμα) 85%,
    rgba(255, 255, 255, 0)
  );
}

/* Hide scrollbar for Chrome, Safari and Opera */
.στοιχεία-χρονολογίου::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.στοιχεία-χρονολογίου {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.γεγονός-χρονολογίου {
  position: relative;
  /* height: 75px; */
  width: 95%;
  cursor: default;
  text-align: left;
  margin: 5px 0 5px 15px;
}

.γεγονός-χρονολογίου::before {
  content: '';
  position: absolute;
  left: -15px;
  width: 0;
  height: 120%;
  border-right: max(0.3vw, 2px) solid var(--βασικό-χρώμα);
}

.γεγονός-χρονολογίου:first-child {
  margin-top: 0;
}

.γεγονός-χρονολογίου:last-child {
  margin-bottom: 0;
}

.τελεία-γεγονότος {
  --ύψος-τελείας: max(1.3vw, 25px);
  position: absolute;
  top: calc(50% - (var(--ύψος-τελείας) / 2));
  /* left: calc(100% + 15px - 5px + 1px); */
  left: calc(-15px - 5px + 1px);
  height: var(--ύψος-τελείας);
  width: 10px;
  background-color: var(--υβ-δευτερεύον-χρώμα);
  box-shadow: 0 0 25px var(--βασικό-χρώμα) 0 0 50px var(--βασικό-χρώμα);
  border: max(0.3vw, 2px) solid var(--βασικό-χρώμα);
  border-radius: 50px;
}

.περιεχόμενο-γεγονότος {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
  background: rgba(0, 0, 0, 0.32);
  border: 2px solid var(--όριο-χρώμα-θολό);
  border-radius: 20px;
  padding: 1vh 1.2vw 1.2vh;
  transition: all var(--χρόνος-μετάβασης-μορφής) ease-in-out;
}

/* .περιεχόμενο-γεγονότος.με-δευτερεύουσα-γραμμή {
  height: 62px;
}

.περιεχόμενο-γεγονότος.χωρίς-δευτερεύουσα-γραμμή {
  height: 62px;
} */
.περιεχόμενο-γεγονότος.χωρίς-δευτερεύουσα-γραμμή.με-κείμενο {
  padding: 1.65vh 1.2vw;
}
.περιεχόμενο-γεγονότος.χωρίς-δευτερεύουσα-γραμμή.χωρίς-κείμενο {
  justify-content: center;
}

.περιεχόμενο-γεγονότος:hover {
  /* justify-content: initial;
  background-color: var(--υβ-δευτερεύον-χρώμα);
  border: 2px solid var(--βασικό-χρώμα); */
  /* transition: var(--χρόνος-μετάβασης-μορφής) ease-in-out; --*/
}

.περιεχόμενο-γεγονότος:not(:hover) {
  /* transition: var(--χρόνος-μετάβασης-μορφής) ease-in-out; */
}

.περιεχόμενο-γεγονότος.με-κείμενο.ολοκληρωμένο.μεΜόνιμαΧρώματα,
.περιεχόμενο-γεγονότος.χωρίς-κείμενο.ολοκληρωμένο.μεΜόνιμαΧρώματα {
  border: 2px solid var(--χρώμα-ολοκληρωμένου);
  box-shadow: 0 0 50px var(--χρώμα-ολοκληρωμένου);
}
.περιεχόμενο-γεγονότος:hover.με-κείμενο.ολοκληρωμένο,
.περιεχόμενο-γεγονότος:hover.χωρίς-κείμενο.ολοκληρωμένο {
  border: 2px solid var(--χρώμα-ολοκληρωμένου);
  box-shadow: 0 0 50px var(--χρώμα-ολοκληρωμένου);
  /* animation: 0.5s εναλλαγή-μορφής-ορίου-για-ολοκληρωμένο 0s; --*/
}
.περιεχόμενο-γεγονότος:hover.με-κείμενο.ολοκληρωμένο {
  /* height: 16vh; */
}
.περιεχόμενο-γεγονότος:hover.χωρίς-κείμενο.ολοκληρωμένο {
  /* height: 9.5vh; */
}
.περιεχόμενο-γεγονότος:hover.χωρίς-δευτερεύουσα-γραμμή.χωρίς-κείμενο.ολοκληρωμένο {
  /* height: 8.2vh; */
}

.περιεχόμενο-γεγονότος.με-κείμενο.παρατημένο.μεΜόνιμαΧρώματα,
.περιεχόμενο-γεγονότος.χωρίς-κείμενο.παρατημένο.μεΜόνιμαΧρώματα {
  border: 2px solid var(--χρώμα-παρατημένου);
  box-shadow: 0 0 50px var(--χρώμα-παρατημένου);
}
.περιεχόμενο-γεγονότος:hover.με-κείμενο.παρατημένο,
.περιεχόμενο-γεγονότος:hover.χωρίς-κείμενο.παρατημένο {
  border: 2px solid var(--χρώμα-παρατημένου);
  box-shadow: 0 0 50px var(--χρώμα-παρατημένου);
  /* animation: 0.5s εναλλαγή-μορφής-ορίου-για-παρατημένο 0s; --*/
}
.περιεχόμενο-γεγονότος:hover.με-κείμενο.παρατημένο {
  /* height: 16vh; */
}
.περιεχόμενο-γεγονότος:hover.χωρίς-κείμενο.παρατημένο {
  /* height: 9.5vh; */
}
.περιεχόμενο-γεγονότος:hover.χωρίς-δευτερεύουσα-γραμμή.χωρίς-κείμενο.παρατημένο {
  /* height: 8.2vh; */
}

.περιεχόμενο-γεγονότος.με-κείμενο.εν-εξελίξει.μεΜόνιμαΧρώματα,
.περιεχόμενο-γεγονότος.χωρίς-κείμενο.εν-εξελίξει.μεΜόνιμαΧρώματα {
  border: 2px solid var(--χρώμα-εν-εξελίξει);
  box-shadow: 0 0 50px var(--χρώμα-εν-εξελίξει);
}
.περιεχόμενο-γεγονότος:hover.με-κείμενο.εν-εξελίξει,
.περιεχόμενο-γεγονότος:hover.χωρίς-κείμενο.εν-εξελίξει {
  border: 2px solid var(--χρώμα-εν-εξελίξει);
  box-shadow: 0 0 50px var(--χρώμα-εν-εξελίξει);
  /* animation: 0.5s εναλλαγή-μορφής-ορίου-για-εν-εξελίξει 0s; --*/
}
.περιεχόμενο-γεγονότος:hover.με-κείμενο.εν-εξελίξει {
  /* height: 16vh; */
}
.περιεχόμενο-γεγονότος:hover.χωρίς-κείμενο.εν-εξελίξει {
  /* height: 9.5vh; */
}
.περιεχόμενο-γεγονότος:hover.χωρίς-δευτερεύουσα-γραμμή.χωρίς-κείμενο.εν-εξελίξει {
  /* height: 8.2vh; */
}

.περιεχόμενο-γεγονότος.με-κείμενο.εν-αναμονή.μεΜόνιμαΧρώματα,
.περιεχόμενο-γεγονότος.χωρίς-κείμενο.εν-αναμονή.μεΜόνιμαΧρώματα {
  border: 2px solid var(--χρώμα-εν-αναμονή);
  box-shadow: 0 0 50px var(--χρώμα-εν-αναμονή);
}
.περιεχόμενο-γεγονότος:hover.με-κείμενο.εν-αναμονή,
.περιεχόμενο-γεγονότος:hover.χωρίς-κείμενο.εν-αναμονή {
  border: 2px solid var(--χρώμα-εν-αναμονή);
  box-shadow: 0 0 50px var(--χρώμα-εν-αναμονή);
  /* animation: 0.5s εναλλαγή-μορφής-ορίου-για-εν-αναμονή 0s; --*/
}
.περιεχόμενο-γεγονότος:hover.με-κείμενο.εν-αναμονή {
  /* height: 16vh; */
}
.περιεχόμενο-γεγονότος:hover.χωρίς-κείμενο.εν-αναμονή {
  /* height: 9.5vh; */
}
.περιεχόμενο-γεγονότος:hover.χωρίς-δευτερεύουσα-γραμμή.χωρίς-κείμενο.εν-αναμονή {
  /* height: 8.2vh; */
}

.περιττή-επάνω-γραμμή-χρονολογίου,
.άρτια-επάνω-γραμμή-χρονολογίου {
  display: flex;
  align-items: center;
  font-weight: bold;
  color: var(--κείμενο-βασικό-χρώμα);
  padding-left: 5px;
}

.περιττή-επάνω-γραμμή-χρονολογίου {
  flex-direction: row;
  justify-content: flex-start;
}

.άρτια-επάνω-γραμμή-χρονολογίου {
  flex-direction: row;
  justify-content: flex-start;
}

/* ΧΡΟΝΙΚΕΣ ΠΛΗΡΟΦΟΡΙΕΣ */
.χρονικές-πληροφορίες {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30px;
}

.περιττή-επάνω-γραμμή-χρονολογίου .χρονικές-πληροφορίες,
.άρτια-επάνω-γραμμή-χρονολογίου .χρονικές-πληροφορίες {
  padding: 2px 6px 0 0;
  border-right: 4px solid;
}

.ημερομηνία-γεγονότος {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 3.5vw;
  width: min(85px, 14vw);
  gap: 0;
}

.έτος-γεγονότος-χρονολογίου {
  /* font-size: min(4.5vw, 30px); */
  /* padding-bottom: 2px; */
  line-height: 3.5vw;
}

.περιττή-επάνω-γραμμή-χρονολογίου .περιττός-μήνας-γεγονότος-χρονολογίου,
.άρτια-επάνω-γραμμή-χρονολογίου .άρτιος-μήνας-γεγονότος-χρονολογίου {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 2vw;
  width: 10px;
  font-size: min(2vw, 11px);
  /* transform: rotateZ(270deg); */
}

.περιττή-επάνω-γραμμή-χρονολογίου .περιττός-μήνας-γεγονότος-χρονολογίου {
  /* padding: 0; */
}

.άρτια-επάνω-γραμμή-χρονολογίου .άρτιος-μήνας-γεγονότος-χρονολογίου {
  /* padding: 0 0 2px; */
}

.διάρκεια-γεγονότος {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1vw;
  margin-top: 6px;
  font-size: min(1.8vw, 10px);
}

.χρονικές-πληροφορίες:hover .διάρκεια-γεγονότος {
  display: flex;
  justify-content: center;
  align-items: center;
}

.περιττή-επάνω-γραμμή-χρονολογίου .χρώμα-κανονικό,
.άρτια-επάνω-γραμμή-χρονολογίου .χρώμα-κανονικό {
  border-color: var(--βασικό-χρώμα);
}
.περιττή-επάνω-γραμμή-χρονολογίου .χρώμα-πορτοκαλί,
.άρτια-επάνω-γραμμή-χρονολογίου .χρώμα-πορτοκαλί {
  border-color: var(--χρώμα-σπουδών);
}
.περιττή-επάνω-γραμμή-χρονολογίου .χρώμα-χρυσό,
.άρτια-επάνω-γραμμή-χρονολογίου .χρώμα-χρυσό {
  border-color: var(--χρώμα-εργασίας);
}
.περιττή-επάνω-γραμμή-χρονολογίου .χρώμα-γαλαζοπράσινο,
.άρτια-επάνω-γραμμή-χρονολογίου .χρώμα-γαλαζοπράσινο {
  border-color: var(--χρώμα-έργων);
}

.κρυφό {
  border-style: dashed;
}

/* .περιττή-επάνω-γραμμή-χρονολογίου h3,
.άρτια-επάνω-γραμμή-χρονολογίου h3 {
  font-size: 1.5vw;
  width: 100%;
} */

/* ΒΑΣΙΚΕΣ ΠΛΗΡΟΦΟΡΙΕΣ */
.βασικές-πληροφορίες-περιττού-γεγονότος,
.βασικές-πληροφορίες-άρτιου-γεγονότος {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 30px;
  /* gap: 0.15vw; */
}

.βασικές-πληροφορίες-περιττού-γεγονότος.με-δευτερεύουσα-γραμμή,
.βασικές-πληροφορίες-περιττού-γεγονότος.χωρίς-δευτερεύουσα-γραμμή,
.βασικές-πληροφορίες-άρτιου-γεγονότος.με-δευτερεύουσα-γραμμή,
.βασικές-πληροφορίες-άρτιου-γεγονότος.χωρίς-δευτερεύουσα-γραμμή {
  padding: 0 6px;
}

.βασικές-πληροφορίες-περιττού-γεγονότος .τίτλος-γεγονότος,
.βασικές-πληροφορίες-άρτιου-γεγονότος .τίτλος-γεγονότος {
  /* height: 3vw; */
  line-height: 15px;
  font-size: min(3.3vw, 30px);
}

/* ΠΛΗΡΟΦΟΡΙΕΣ ΔΕΥΤΕΡΕΥΟΥΣΑΣ ΓΡΑΜΜΗΣ */
.πληροφορίες-δευτερεύουσας-γραμμής {
  display: flex;
  justify-content: flex-start;
  line-height: 11px;
}
.πληροφορίες-δευτερεύουσας-γραμμής.περιττή {
  flex-direction: row-reverse;
}
.πληροφορίες-δευτερεύουσας-γραμμής.άρτια {
  flex-direction: row-reverse;
}

/* Σύνδεσμοι*/
.σύνδεσμος-οντότητας:link,
.σύνδεσμος-οντότητας:focus,
.σύνδεσμος-οντότητας:hover,
.σύνδεσμος-οντότητας:active,
.σύνδεσμος-οντότητας:visited,
.σύνδεσμος-σπουδών:link,
.σύνδεσμος-σπουδών:focus,
.σύνδεσμος-σπουδών:hover,
.σύνδεσμος-σπουδών:active,
.σύνδεσμος-σπουδών:visited {
  color: gold;
  cursor: pointer;
}

.οντότητα,
.σπουδές,
.φάση-έργου,
.διαχωριστικό {
  font-size: 8px;
  color: white;
}

.περιέκτης-κειμένου-φάσης-έργου {
  display: flex;
  justify-content: flex-start;
}

.διαχωριστικό {
  font-size: 12px;
  color: white;
}

.οντότητα,
.σπουδές {
  width: auto;
}

/* .οντότητα::after,
.σπουδές::after {
  font-size: 12px;
  text-align: center;
} */

.σύνδεσμος-οντότητας:hover > .οντότητα,
.σύνδεσμος-σπουδών:hover > .σπουδές {
  /* font-size: 0; */
  color: gold;
}

/* .οντότητα:hover + .σπουδές,
.σπουδές:hover + .οντότητα {
  font-size: 0;
} */

.οντότητα:hover::after {
  content: attr(data-types-main);
}
.σπουδές:hover::after {
  content: attr(data-types-sec);
}

.οντότητα-κανονικό:hover::after,
.οντότητα-πορτοκαλί:hover::after,
.οντότητα-χρυσό:hover::after,
.οντότητα-γαλαζοπράσινο:hover::after {
  /* color: var(--βασικό-χρώμα); */
  color: gold;
}

/* Εικονίδια δευτερεύουσας γραμμής */
.περιέκτης-εικονιδίων-δευτερεύουσας-γραμμής {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: min(2.5vw, 8px);
}

.περιέκτης-εικονιδίων-δευτερεύουσας-γραμμής:hover {
  font-size: 0;
}

.περιέκτης-εικονιδίων-δευτερεύουσας-γραμμής:hover::after {
  content: attr(data-types-icon);
  font-size: 10px;
  text-align: end;
}

.εικονίδιο-δευτερεύουσας-γραμμής {
  color: white;
}

.περιεχόμενο-γεγονότος.με-κείμενο .κείμενο-γεγονότος {
  color: var(--κείμενο-βασικό-χρώμα);
  font-size: 0.6rem;
  font-weight: 300;
  line-height: 15px;
  margin: 5px 10px 0;
  /* visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s ease-in-out; */
  transition-delay: 0.3s;
}
.περιεχόμενο-γεγονότος:hover.με-δευτερεύουσα-γραμμή.με-κείμενο
  .κείμενο-γεγονότος,
.περιεχόμενο-γεγονότος:hover.χωρίς-δευτερεύουσα-γραμμή.με-κείμενο
  .κείμενο-γεγονότος {
  visibility: visible;
  /* margin: 15px; */
  opacity: 1;
}
.περιεχόμενο-γεγονότος:hover.με-δευτερεύουσα-γραμμή.με-κείμενο
  .γεγονός-μονού-αριθμού.κείμενο-γεγονότος,
.περιεχόμενο-γεγονότος:hover.χωρίς-δευτερεύουσα-γραμμή.με-κείμενο
  .γεγονός-μονού-αριθμού.κείμενο-γεγονότος {
  /* margin: 15px 10px 0 30px; */
}
.περιεχόμενο-γεγονότος:hover.με-δευτερεύουσα-γραμμή.με-κείμενο
  .γεγονός-ζυγού-αριθμού.κείμενο-γεγονότος,
.περιεχόμενο-γεγονότος:hover.χωρίς-δευτερεύουσα-γραμμή.με-κείμενο
  .γεγονός-ζυγού-αριθμού.κείμενο-γεγονότος {
  margin: 15px 30px 0 10px;
}

.περιέκτης-σχετιζόμενων-έργων {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons-container {
  --icons-container-length: 100%;
  --icons-container-width: 5vw;
  /* opacity: 0; */
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 5vw;
  gap: clamp(0.5vw, 0.75vw, 1vw);
  background-color: var(--υβ-δευτερεύον-χρώμα-θολό);
  transition: opacity 0.5s ease-in-out;
  cursor: pointer;
}

.icons-container-down {
  bottom: 0;
  left: calc(50% - 3vw);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.icons-container-right {
  height: 100%;
  top: 0;
  right: 0;
  border-left: 2px dotted var(--βασικό-χρώμα);
  border-top-right-radius: 28px;
  border-bottom-right-radius: 28px;
}

.icons-container-left {
  height: 100%;
  top: 0;
  right: 0;
  border-left: 2px dotted var(--βασικό-χρώμα);
  border-top-right-radius: 28px;
  border-bottom-right-radius: 28px;
}

.περιεχόμενο-γεγονότος:hover.με-κείμενο.παρατημένο .icons-container-left,
.περιεχόμενο-γεγονότος:hover.με-κείμενο.παρατημένο .icons-container-right,
.περιεχόμενο-γεγονότος:hover.με-κείμενο.ολοκληρωμένο .icons-container-left,
.περιεχόμενο-γεγονότος:hover.με-κείμενο.ολοκληρωμένο .icons-container-right,
.περιεχόμενο-γεγονότος:hover.με-κείμενο.εν-εξελίξει .icons-container-left,
.περιεχόμενο-γεγονότος:hover.με-κείμενο.εν-εξελίξει .icons-container-right,
.περιεχόμενο-γεγονότος:hover.με-κείμενο.εν-αναμονή .icons-container-left,
.περιεχόμενο-γεγονότος:hover.με-κείμενο.εν-αναμονή .icons-container-right {
  opacity: 1;
  transition-delay: 0.5s;
}

.περιεχόμενο-γεγονότος:hover.χωρίς-κείμενο.παρατημένο .icons-container-left,
.περιεχόμενο-γεγονότος:hover.χωρίς-κείμενο.παρατημένο .icons-container-right,
.περιεχόμενο-γεγονότος:hover.χωρίς-κείμενο.ολοκληρωμένο .icons-container-left,
.περιεχόμενο-γεγονότος:hover.χωρίς-κείμενο.ολοκληρωμένο .icons-container-right,
.περιεχόμενο-γεγονότος:hover.χωρίς-κείμενο.εν-εξελίξει .icons-container-left,
.περιεχόμενο-γεγονότος:hover.χωρίς-κείμενο.εν-εξελίξει .icons-container-right,
.περιεχόμενο-γεγονότος:hover.χωρίς-κείμενο.εν-αναμονή .icons-container-left,
.περιεχόμενο-γεγονότος:hover.χωρίς-κείμενο.εν-αναμονή .icons-container-right {
  opacity: 1;
  transition-delay: 0.2s;
}

.icon-active {
  color: var(--βασικό-χρώμα);
  font-size: 2.5vw;
  font-weight: bold;
  cursor: pointer;
}

.icon-inactive {
  color: grey;
  font-size: 2.5vw;
  font-weight: bold;
  cursor: default;
}

.περιέκτης-τεχνολογιών {
  --περιέκτης-τεχνολογιών-πλαϊνό-κενό: 20px;
  --περιέκτης-τεχνολογιών-πλάτος-βασικό: 100px;
  opacity: 1;
  position: absolute;
  bottom: -13px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  height: 25px;
  padding: 0 var(--περιέκτης-τεχνολογιών-πλαϊνό-κενό);
  background-color: var(--υβ-δευτερεύον-χρώμα);
  border-bottom: 2px solid var(--όριο-χρώμα-θολό);
  border-radius: 10px;
  z-index: 5;
  transform: rotateX(90deg);
  transition: 0.5s ease-in-out;
}

.tech-1 {
  --περιέκτης-τεχνολογιών-πλάτος-1: calc(
    var(--περιέκτης-τεχνολογιών-πλάτος-βασικό) + (17px * 1)
  );
  right: calc(50% - (var(--περιέκτης-τεχνολογιών-πλάτος-1) / 2));
  width: var(--περιέκτης-τεχνολογιών-πλάτος-1);
}
.tech-2 {
  --περιέκτης-τεχνολογιών-πλάτος-2: calc(
    var(--περιέκτης-τεχνολογιών-πλάτος-βασικό) + (17px * 2)
  );
  right: calc(50% - (var(--περιέκτης-τεχνολογιών-πλάτος-2) / 2));
  width: var(--περιέκτης-τεχνολογιών-πλάτος-2);
}
.tech-3 {
  --περιέκτης-τεχνολογιών-πλάτος-3: calc(
    var(--περιέκτης-τεχνολογιών-πλάτος-βασικό) + (17px * 3)
  );
  right: calc(50% - (var(--περιέκτης-τεχνολογιών-πλάτος-3) / 2));
  width: var(--περιέκτης-τεχνολογιών-πλάτος-3);
}
.tech-4 {
  --περιέκτης-τεχνολογιών-πλάτος-4: calc(
    var(--περιέκτης-τεχνολογιών-πλάτος-βασικό) + (17px * 4)
  );
  right: calc(50% - (var(--περιέκτης-τεχνολογιών-πλάτος-4) / 2));
  width: var(--περιέκτης-τεχνολογιών-πλάτος-4);
}
.tech-5 {
  --περιέκτης-τεχνολογιών-πλάτος-5: calc(
    var(--περιέκτης-τεχνολογιών-πλάτος-βασικό) + (17px * 5)
  );
  right: calc(50% - (var(--περιέκτης-τεχνολογιών-πλάτος-5) / 2));
  width: var(--περιέκτης-τεχνολογιών-πλάτος-5);
}
.tech-6 {
  --περιέκτης-τεχνολογιών-πλάτος-6: calc(
    var(--περιέκτης-τεχνολογιών-πλάτος-βασικό) + (17px * 6)
  );
  right: calc(50% - (var(--περιέκτης-τεχνολογιών-πλάτος-6) / 2));
  width: var(--περιέκτης-τεχνολογιών-πλάτος-6);
}
.tech-7 {
  --περιέκτης-τεχνολογιών-πλάτος-7: calc(
    var(--περιέκτης-τεχνολογιών-πλάτος-βασικό) + (17px * 7)
  );
  right: calc(50% - (var(--περιέκτης-τεχνολογιών-πλάτος-7) / 2));
  width: var(--περιέκτης-τεχνολογιών-πλάτος-7);
}
.tech-8 {
  --περιέκτης-τεχνολογιών-πλάτος-8: calc(
    var(--περιέκτης-τεχνολογιών-πλάτος-βασικό) + (17px * 8)
  );
  right: calc(50% - (var(--περιέκτης-τεχνολογιών-πλάτος-8) / 2));
  width: var(--περιέκτης-τεχνολογιών-πλάτος-8);
}
.tech-9 {
  --περιέκτης-τεχνολογιών-πλάτος-9: calc(
    var(--περιέκτης-τεχνολογιών-πλάτος-βασικό) + (17px * 9)
  );
  right: calc(50% - (var(--περιέκτης-τεχνολογιών-πλάτος-9) / 2));
  width: var(--περιέκτης-τεχνολογιών-πλάτος-9);
}
.tech-10 {
  --περιέκτης-τεχνολογιών-πλάτος-10: calc(
    var(--περιέκτης-τεχνολογιών-πλάτος-βασικό) + (17px * 10)
  );
  right: calc(50% - (var(--περιέκτης-τεχνολογιών-πλάτος-10) / 2));
  width: var(--περιέκτης-τεχνολογιών-πλάτος-10);
}
.tech-11 {
  --περιέκτης-τεχνολογιών-πλάτος-11: calc(
    var(--περιέκτης-τεχνολογιών-πλάτος-βασικό) + (17px * 11)
  );
  right: calc(50% - (var(--περιέκτης-τεχνολογιών-πλάτος-11) / 2));
  width: var(--περιέκτης-τεχνολογιών-πλάτος-11);
}

.tech-12 {
  --περιέκτης-τεχνολογιών-πλάτος-12: calc(
    var(--περιέκτης-τεχνολογιών-πλάτος-βασικό) + (17px * 12)
  );
  right: calc(50% - (var(--περιέκτης-τεχνολογιών-πλάτος-12) / 2));
  width: var(--περιέκτης-τεχνολογιών-πλάτος-12);
}
.tech-13 {
  --περιέκτης-τεχνολογιών-πλάτος-13: calc(
    var(--περιέκτης-τεχνολογιών-πλάτος-βασικό) + (17px * 13)
  );
  right: calc(50% - (var(--περιέκτης-τεχνολογιών-πλάτος-13) / 2));
  width: var(--περιέκτης-τεχνολογιών-πλάτος-13);
}
.tech-14 {
  --περιέκτης-τεχνολογιών-πλάτος-14: calc(
    var(--περιέκτης-τεχνολογιών-πλάτος-βασικό) + (17px * 14)
  );
  right: calc(50% - (var(--περιέκτης-τεχνολογιών-πλάτος-14) / 2));
  width: var(--περιέκτης-τεχνολογιών-πλάτος-14);
}
.tech-15 {
  --περιέκτης-τεχνολογιών-πλάτος-15: calc(
    var(--περιέκτης-τεχνολογιών-πλάτος-βασικό) + (17px * 15)
  );
  right: calc(50% - (var(--περιέκτης-τεχνολογιών-πλάτος-15) / 2));
  width: var(--περιέκτης-τεχνολογιών-πλάτος-15);
}

.περιεχόμενο-γεγονότος:hover .περιέκτης-τεχνολογιών {
  opacity: 1;
  bottom: -13px;
  transform: rotateX(0);
}

.περιέκτης-τεχνολογιών::before {
  content: '';
  position: absolute;
  left: 0px;
  bottom: 4px;
  height: 5px;
  width: 5px;
  background-color: transparent;
  border-top: 2px solid transparent;
  border-top-right-radius: 5px;
  transition: var(--χρόνος-μετάβασης-μορφής) ease-in-out;
}
.περιέκτης-τεχνολογιών::after {
  content: '';
  position: absolute;
  right: 0px;
  bottom: 4px;
  height: 5px;
  width: 5px;
  background-color: transparent;
  border-top: 2px solid transparent;
  border-top-left-radius: 5px;
  transition: var(--χρόνος-μετάβασης-μορφής) ease-in-out;
}

.περιεχόμενο-γεγονότος:hover.με-κείμενο.ολοκληρωμένο .περιέκτης-τεχνολογιών,
.περιεχόμενο-γεγονότος:hover.χωρίς-κείμενο.ολοκληρωμένο .περιέκτης-τεχνολογιών {
  border-bottom: 2px solid var(--χρώμα-ολοκληρωμένου);
}
.περιεχόμενο-γεγονότος:hover.με-κείμενο.ολοκληρωμένο
  .περιέκτης-τεχνολογιών::before,
.περιεχόμενο-γεγονότος:hover.με-κείμενο.ολοκληρωμένο
  .περιέκτης-τεχνολογιών::after,
.περιεχόμενο-γεγονότος:hover.χωρίς-κείμενο.ολοκληρωμένο
  .περιέκτης-τεχνολογιών::before,
.περιεχόμενο-γεγονότος:hover.χωρίς-κείμενο.ολοκληρωμένο
  .περιέκτης-τεχνολογιών::after {
  border-top: 2px solid var(--χρώμα-ολοκληρωμένου);
}

.περιεχόμενο-γεγονότος:hover.με-κείμενο.παρατημένο .περιέκτης-τεχνολογιών,
.περιεχόμενο-γεγονότος:hover.χωρίς-κείμενο.παρατημένο .περιέκτης-τεχνολογιών {
  border-bottom: 2px solid var(--χρώμα-παρατημένου);
}
.περιεχόμενο-γεγονότος:hover.με-κείμενο.παρατημένο
  .περιέκτης-τεχνολογιών::before,
.περιεχόμενο-γεγονότος:hover.με-κείμενο.παρατημένο
  .περιέκτης-τεχνολογιών::after,
.περιεχόμενο-γεγονότος:hover.χωρίς-κείμενο.παρατημένο
  .περιέκτης-τεχνολογιών::before,
.περιεχόμενο-γεγονότος:hover.χωρίς-κείμενο.παρατημένο
  .περιέκτης-τεχνολογιών::after {
  border-top: 2px solid var(--χρώμα-παρατημένου);
}

.περιεχόμενο-γεγονότος:hover.με-κείμενο.εν-εξελίξει .περιέκτης-τεχνολογιών,
.περιεχόμενο-γεγονότος:hover.χωρίς-κείμενο.εν-εξελίξει .περιέκτης-τεχνολογιών {
  border-bottom: 2px solid var(--χρώμα-εν-εξελίξει);
}
.περιεχόμενο-γεγονότος:hover.με-κείμενο.εν-εξελίξει
  .περιέκτης-τεχνολογιών::before,
.περιεχόμενο-γεγονότος:hover.με-κείμενο.εν-εξελίξει
  .περιέκτης-τεχνολογιών::after,
.περιεχόμενο-γεγονότος:hover.χωρίς-κείμενο.εν-εξελίξει
  .περιέκτης-τεχνολογιών::before,
.περιεχόμενο-γεγονότος:hover.χωρίς-κείμενο.εν-εξελίξει
  .περιέκτης-τεχνολογιών::after {
  border-top: 2px solid var(--χρώμα-εν-εξελίξει);
}

.περιεχόμενο-γεγονότος:hover.με-κείμενο.εν-αναμονή .περιέκτης-τεχνολογιών,
.περιεχόμενο-γεγονότος:hover.χωρίς-κείμενο.εν-αναμονή .περιέκτης-τεχνολογιών {
  border-bottom: 2px solid var(--χρώμα-εν-αναμονή);
}
.περιεχόμενο-γεγονότος:hover.με-κείμενο.εν-αναμονή
  .περιέκτης-τεχνολογιών::before,
.περιεχόμενο-γεγονότος:hover.με-κείμενο.εν-αναμονή
  .περιέκτης-τεχνολογιών::after,
.περιεχόμενο-γεγονότος:hover.χωρίς-κείμενο.εν-αναμονή
  .περιέκτης-τεχνολογιών::before,
.περιεχόμενο-γεγονότος:hover.χωρίς-κείμενο.εν-αναμονή
  .περιέκτης-τεχνολογιών::after {
  border-top: 2px solid var(--χρώμα-εν-αναμονή);
}

.hide {
  display: none;
}

/* ================================================ */
@media (min-width: 480px) {
  .περιεχόμενο-γεγονότος.με-κείμενο .κείμενο-γεγονότος {
    font-size: 0.8rem;
  }

  .γεγονός-χρονολογίου::before {
    left: -20px;
  }

  .τελεία-γεγονότος {
    left: calc(-20px - 5px + 1px);
  }
}
/* ================================================ */
@media (min-width: 768px) {
  /* ΧΡΟΝΙΚΕΣ ΠΛΗΡΟΦΟΡΙΕΣ */
  .χρονικές-πληροφορίες {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 6vw;
  }

  .ημερομηνία-γεγονότος {
    height: 2.5vw;
  }

  .διάρκεια-γεγονότος {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1vw;
    margin-top: 6px;
    font-size: min(1.8vw, 10px);
  }

  .χρονικές-πληροφορίες:hover .διάρκεια-γεγονότος {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .περιττή-επάνω-γραμμή-χρονολογίου .χρονικές-πληροφορίες .ημερομηνία-γεγονότος,
  .άρτια-επάνω-γραμμή-χρονολογίου .χρονικές-πληροφορίες .ημερομηνία-γεγονότος {
    flex-direction: row-reverse;
  }

  .περιττή-επάνω-γραμμή-χρονολογίου .περιττός-μήνας-γεγονότος-χρονολογίου,
  .άρτια-επάνω-γραμμή-χρονολογίου .άρτιος-μήνας-γεγονότος-χρονολογίου {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1vw;
    width: 10px;
    font-size: min(2vw, 11px);
    transform: rotateZ(270deg);
  }

  .περιττή-επάνω-γραμμή-χρονολογίου .περιττός-μήνας-γεγονότος-χρονολογίου {
    padding: 0;
  }

  .άρτια-επάνω-γραμμή-χρονολογίου .άρτιος-μήνας-γεγονότος-χρονολογίου {
    padding: 0 0 2px;
  }

  .έτος-γεγονότος-χρονολογίου {
    font-size: max(1.75vw, 30px);
    padding-bottom: 2px;
    line-height: 2.5vw;
  }

  /* ΒΑΣΙΚΕΣ ΠΛΗΡΟΦΟΡΙΕΣ */
  .βασικές-πληροφορίες-περιττού-γεγονότος,
  .βασικές-πληροφορίες-άρτιου-γεγονότος {
    height: 6vw;
  }

  .βασικές-πληροφορίες-περιττού-γεγονότος.με-δευτερεύουσα-γραμμή,
  .βασικές-πληροφορίες-περιττού-γεγονότος.χωρίς-δευτερεύουσα-γραμμή,
  .βασικές-πληροφορίες-άρτιου-γεγονότος.με-δευτερεύουσα-γραμμή,
  .βασικές-πληροφορίες-άρτιου-γεγονότος.χωρίς-δευτερεύουσα-γραμμή {
    padding: 0 8px;
  }

  .βασικές-πληροφορίες-περιττού-γεγονότος .τίτλος-γεγονότος,
  .βασικές-πληροφορίες-άρτιου-γεγονότος .τίτλος-γεγονότος {
    /* height: 3vw; */
    line-height: 3.6vw;
    font-size: min(3.3vw, 30px);
  }

  /* ΠΛΗΡΟΦΟΡΙΕΣ ΔΕΥΤΕΡΕΥΟΥΣΑΣ ΓΡΑΜΜΗΣ */
  .πληροφορίες-δευτερεύουσας-γραμμής {
    line-height: 2vw;
  }

  .οντότητα,
  .σπουδές,
  .φάση-έργου,
  .διαχωριστικό {
    font-size: 12px;
  }

  .icons-container {
    width: 4.4vw;
  }

  .icon-active,
  .icon-inactive {
    font-size: 2vw;
  }
}
/* ================================================ */
@media (min-width: 1024px) {
  /* ΧΡΟΝΙΚΕΣ ΠΛΗΡΟΦΟΡΙΕΣ */
  .χρονικές-πληροφορίες {
    height: 4vw;
  }

  .ημερομηνία-γεγονότος {
    height: 2vw;
  }

  .διάρκεια-γεγονότος {
    margin-top: 1px;
  }

  /* ΒΑΣΙΚΕΣ ΠΛΗΡΟΦΟΡΙΕΣ */
  .βασικές-πληροφορίες-περιττού-γεγονότος,
  .βασικές-πληροφορίες-άρτιου-γεγονότος {
    height: 4vw;
  }

  .βασικές-πληροφορίες-περιττού-γεγονότος.με-δευτερεύουσα-γραμμή,
  .βασικές-πληροφορίες-περιττού-γεγονότος.χωρίς-δευτερεύουσα-γραμμή,
  .βασικές-πληροφορίες-άρτιου-γεγονότος.με-δευτερεύουσα-γραμμή,
  .βασικές-πληροφορίες-άρτιου-γεγονότος.χωρίς-δευτερεύουσα-γραμμή {
    padding: 0 12px;
  }

  .βασικές-πληροφορίες-περιττού-γεγονότος .τίτλος-γεγονότος,
  .βασικές-πληροφορίες-άρτιου-γεγονότος .τίτλος-γεγονότος {
    /* height: 3vw; */
    line-height: 100%;
    font-size: min(3.3vw, 24px);
  }

  /* ΠΛΗΡΟΦΟΡΙΕΣ ΔΕΥΤΕΡΕΥΟΥΣΑΣ ΓΡΑΜΜΗΣ */
  .πληροφορίες-δευτερεύουσας-γραμμής {
    line-height: 1vw;
  }

  .οντότητα,
  .σπουδές,
  .φάση-έργου,
  .διαχωριστικό {
    font-size: 1.1vw;
  }

  .icons-container {
    width: 3.25vw;
  }

  .icon-active,
  .icon-inactive {
    font-size: 1.75vw;
  }
}
/* ================================================ ================================================*/
@media (min-width: 1366px) {
  .στοιχεία-χρονολογίου {
    --ύψος-βασικών-πληροφοριών: 2.5vw;
    align-items: center;
  }

  .γεγονός-χρονολογίου {
    position: relative;
    width: 100%;
    cursor: default;
    margin: 0px;
  }

  .γεγονός-χρονολογίου:nth-child(odd) {
    padding-right: calc(50% + 1.5vw);
    text-align: right;
  }

  .γεγονός-χρονολογίου:nth-child(odd)::before {
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    border-right: 0.3vw solid var(--βασικό-χρώμα);
    left: calc(50%);
    margin-left: 0px;
  }

  .γεγονός-χρονολογίου:nth-child(even) {
    padding-left: calc(50% + 1.8vw);
    text-align: left;
  }

  .γεγονός-χρονολογίου:nth-child(even)::before {
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    border-right: 0.3vw solid var(--βασικό-χρώμα);
    left: calc(50%);
    margin-left: 0px;
  }

  .τελεία-γεγονότος {
    position: absolute;
    height: 1.3vw;
    width: 1.3vw;
    background-color: var(--υβ-δευτερεύον-χρώμα);
    box-shadow: 0 0 25px var(--βασικό-χρώμα) 0 0 50px var(--βασικό-χρώμα);
    left: calc(50% - 0.5vw);
    border: 0.3vw solid var(--βασικό-χρώμα);
    border-radius: 50px;
  }

  .περιεχόμενο-γεγονότος {
    --γέμισμα-επάνω: 1vh;
    --γέμισμα-κάτω: 1vh;
    --πάχος-ορίου-γεγονότος: 2px;
    --ύψος-περιεχομένου-γεγονότος: calc(
      var(--γέμισμα-επάνω) + var(--ύψος-βασικών-πληροφοριών) +
        var(--γέμισμα-κάτω) + (var(--πάχος-ορίου-γεγονότος) * 2)
    );
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: var(--ύψος-περιεχομένου-γεγονότος);
    padding: var(--γέμισμα-επάνω) 1.5vh;
    background: rgba(0, 0, 0, 0.32);
    border: var(--πάχος-ορίου-γεγονότος) solid var(--όριο-χρώμα-θολό);
    border-radius: 30px;
    transition: all var(--χρόνος-μετάβασης-μορφής) ease-in-out;
  }

  .περιεχόμενο-γεγονότος:hover {
    --γέμισμα-αιώρησης: 1vh;
    --ύψος-κειμένου-γεγονότος: 55px;
    justify-content: initial;
    background-color: var(--υβ-δευτερεύον-χρώμα);
    border: 2px solid var(--βασικό-χρώμα);
    height: calc(var(--ύψος-περιεχομένου-γεγονότος));
  }

  .περιεχόμενο-γεγονότος:not(:hover) {
    transition: var(--χρόνος-μετάβασης-μορφής) ease-in-out;
  }

  .περιεχόμενο-γεγονότος.χωρίς-δευτερεύουσα-γραμμή.με-κείμενο,
  .περιεχόμενο-γεγονότος.χωρίς-δευτερεύουσα-γραμμή.χωρίς-κείμενο {
    padding: var(--γέμισμα-επάνω) 1.5vh;
  }

  .περιεχόμενο-γεγονότος.με-κείμενο.ολοκληρωμένο.μεΜόνιμαΧρώματα,
  .περιεχόμενο-γεγονότος.χωρίς-κείμενο.ολοκληρωμένο.μεΜόνιμαΧρώματα {
    border: 2px solid var(--χρώμα-ολοκληρωμένου);
    box-shadow: 0 0 50px var(--χρώμα-ολοκληρωμένου);
  }
  .περιεχόμενο-γεγονότος:hover.με-κείμενο.ολοκληρωμένο,
  .περιεχόμενο-γεγονότος:hover.χωρίς-κείμενο.ολοκληρωμένο {
    border: 2px solid var(--χρώμα-ολοκληρωμένου);
    box-shadow: 0 0 50px var(--χρώμα-ολοκληρωμένου);
  }
  .περιεχόμενο-γεγονότος:hover.με-κείμενο.ολοκληρωμένο {
    height: calc(
      var(--ύψος-περιεχομένου-γεγονότος) + (var(--γέμισμα-αιώρησης) * 2) +
        var(--ύψος-κειμένου-γεγονότος)
    );
  }

  .περιεχόμενο-γεγονότος.με-κείμενο.παρατημένο.μεΜόνιμαΧρώματα,
  .περιεχόμενο-γεγονότος.χωρίς-κείμενο.παρατημένο.μεΜόνιμαΧρώματα {
    border: 2px solid var(--χρώμα-παρατημένου);
    box-shadow: 0 0 50px var(--χρώμα-παρατημένου);
  }
  .περιεχόμενο-γεγονότος:hover.με-κείμενο.παρατημένο,
  .περιεχόμενο-γεγονότος:hover.χωρίς-κείμενο.παρατημένο {
    border: 2px solid var(--χρώμα-παρατημένου);
    box-shadow: 0 0 50px var(--χρώμα-παρατημένου);
  }
  .περιεχόμενο-γεγονότος:hover.με-κείμενο.παρατημένο {
    height: calc(
      var(--ύψος-περιεχομένου-γεγονότος) + (var(--γέμισμα-αιώρησης) * 2) +
        var(--ύψος-κειμένου-γεγονότος)
    );
  }

  .περιεχόμενο-γεγονότος.με-κείμενο.εν-εξελίξει.μεΜόνιμαΧρώματα,
  .περιεχόμενο-γεγονότος.χωρίς-κείμενο.εν-εξελίξει.μεΜόνιμαΧρώματα {
    border: 2px solid var(--χρώμα-εν-εξελίξει);
    box-shadow: 0 0 50px var(--χρώμα-εν-εξελίξει);
  }
  .περιεχόμενο-γεγονότος:hover.με-κείμενο.εν-εξελίξει,
  .περιεχόμενο-γεγονότος:hover.χωρίς-κείμενο.εν-εξελίξει {
    border: 2px solid var(--χρώμα-εν-εξελίξει);
    box-shadow: 0 0 50px var(--χρώμα-εν-εξελίξει);
  }
  .περιεχόμενο-γεγονότος:hover.με-κείμενο.εν-εξελίξει {
    height: calc(
      var(--ύψος-περιεχομένου-γεγονότος) + (var(--γέμισμα-αιώρησης) * 2) +
        var(--ύψος-κειμένου-γεγονότος)
    );
  }

  .περιεχόμενο-γεγονότος.με-κείμενο.εν-αναμονή.μεΜόνιμαΧρώματα,
  .περιεχόμενο-γεγονότος.χωρίς-κείμενο.εν-αναμονή.μεΜόνιμαΧρώματα {
    border: 2px solid var(--χρώμα-εν-αναμονή);
    box-shadow: 0 0 50px var(--χρώμα-εν-αναμονή);
  }
  .περιεχόμενο-γεγονότος:hover.με-κείμενο.εν-αναμονή,
  .περιεχόμενο-γεγονότος:hover.χωρίς-κείμενο.εν-αναμονή {
    border: 2px solid var(--χρώμα-εν-αναμονή);
    box-shadow: 0 0 50px var(--χρώμα-εν-αναμονή);
  }
  .περιεχόμενο-γεγονότος:hover.με-κείμενο.εν-αναμονή {
    height: calc(
      var(--ύψος-περιεχομένου-γεγονότος) + (var(--γέμισμα-αιώρησης) * 2) +
        var(--ύψος-κειμένου-γεγονότος)
    );
  }

  .κρυφό {
    border-style: dashed;
  }

  .περιεχόμενο-γεγονότος:hover.με-κείμενο.χωρίς-τεχνολογίες {
    padding: calc(var(--γέμισμα-επάνω) + var(--γέμισμα-αιώρησης)) 1.5vh
      calc(var(--γέμισμα-κάτω) + var(--γέμισμα-αιώρησης));
  }
  .περιεχόμενο-γεγονότος:hover.με-τεχνολογίες {
    height: calc(var(--ύψος-περιεχομένου-γεγονότος) + 2vh);
    padding: calc(var(--γέμισμα-επάνω) + var(--γέμισμα-αιώρησης)) 1.5vh
      calc(var(--γέμισμα-κάτω) + var(--γέμισμα-αιώρησης));
  }

  .περιττή-επάνω-γραμμή-χρονολογίου,
  .άρτια-επάνω-γραμμή-χρονολογίου {
    display: flex;
    align-items: center;
    font-weight: bold;
    color: var(--κείμενο-βασικό-χρώμα);
  }

  .περιττή-επάνω-γραμμή-χρονολογίου {
    flex-direction: row-reverse;
    justify-content: end;
  }

  .άρτια-επάνω-γραμμή-χρονολογίου {
    flex-direction: row;
    justify-content: start;
  }

  .χρονικές-πληροφορίες {
    display: flex;
    justify-content: center;
    align-items: center;
    height: min(2.5vw);
    font-size: 0.6vw;
  }

  .περιττή-επάνω-γραμμή-χρονολογίου .χρονικές-πληροφορίες {
    padding: 0 0 0 0.3vw;
    border-right: none;
    border-left: 4px solid;
  }

  .άρτια-επάνω-γραμμή-χρονολογίου .χρονικές-πληροφορίες {
    padding: 0 0.3vw 0 0;
    border-right: 4px solid;
    border-left: none;
  }

  .χρονικές-πληροφορίες .ημερομηνία-γεγονότος {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 1.5vw;
    width: 100px;
    gap: 0;
  }

  .περιττή-επάνω-γραμμή-χρονολογίου
    .χρονικές-πληροφορίες
    .ημερομηνία-γεγονότος {
    flex-direction: row;
  }

  .άρτια-επάνω-γραμμή-χρονολογίου .χρονικές-πληροφορίες .ημερομηνία-γεγονότος {
    flex-direction: row-reverse;
  }

  .διάρκεια-γεγονότος {
    display: none;
  }

  .χρονικές-πληροφορίες:hover .διάρκεια-γεγονότος {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0.4vw;
  }

  .περιττή-επάνω-γραμμή-χρονολογίου .περιττός-μήνας-γεγονότος-χρονολογίου,
  .άρτια-επάνω-γραμμή-χρονολογίου .άρτιος-μήνας-γεγονότος-χρονολογίου {
    width: 10px;
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateZ(270deg);
  }

  .περιττή-επάνω-γραμμή-χρονολογίου .περιττός-μήνας-γεγονότος-χρονολογίου {
    padding: 0;
  }

  .άρτια-επάνω-γραμμή-χρονολογίου .άρτιος-μήνας-γεγονότος-χρονολογίου {
    padding: 0 0 2px;
  }

  .έτος-γεγονότος-χρονολογίου {
    font-size: max(1.75vw, 30px);
    padding-bottom: 2px;
  }

  .περιττή-επάνω-γραμμή-χρονολογίου .χρώμα-κανονικό,
  .άρτια-επάνω-γραμμή-χρονολογίου .χρώμα-κανονικό {
    border-color: var(--βασικό-χρώμα);
  }
  .περιττή-επάνω-γραμμή-χρονολογίου .χρώμα-πορτοκαλί,
  .άρτια-επάνω-γραμμή-χρονολογίου .χρώμα-πορτοκαλί {
    border-color: var(--χρώμα-σπουδών);
  }
  .περιττή-επάνω-γραμμή-χρονολογίου .χρώμα-χρυσό,
  .άρτια-επάνω-γραμμή-χρονολογίου .χρώμα-χρυσό {
    border-color: var(--χρώμα-εργασίας);
  }
  .περιττή-επάνω-γραμμή-χρονολογίου .χρώμα-γαλαζοπράσινο,
  .άρτια-επάνω-γραμμή-χρονολογίου .χρώμα-γαλαζοπράσινο {
    border-color: var(--χρώμα-έργων);
  }

  .περιττή-επάνω-γραμμή-χρονολογίου h3,
  .άρτια-επάνω-γραμμή-χρονολογίου h3 {
    font-size: 1.5vw;
    width: 100%;
  }

  /* ΒΑΣΙΚΕΣ ΠΛΗΡΟΦΟΡΙΕΣ */
  .βασικές-πληροφορίες-περιττού-γεγονότος,
  .βασικές-πληροφορίες-άρτιου-γεγονότος {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: var(--ύψος-βασικών-πληροφοριών);
    /* gap: 0.15vw; */
  }

  .βασικές-πληροφορίες-περιττού-γεγονότος {
    align-items: end;
  }

  .βασικές-πληροφορίες-περιττού-γεγονότος.με-δευτερεύουσα-γραμμή {
    padding: 0 1vw;
  }
  .βασικές-πληροφορίες-περιττού-γεγονότος.χωρίς-δευτερεύουσα-γραμμή {
    padding: 0 1vw;
  }

  .βασικές-πληροφορίες-άρτιου-γεγονότος {
    align-items: start;
  }

  .βασικές-πληροφορίες-άρτιου-γεγονότος.με-δευτερεύουσα-γραμμή {
    padding: 0 1vw;
  }
  .βασικές-πληροφορίες-άρτιου-γεγονότος.χωρίς-δευτερεύουσα-γραμμή {
    padding: 0 1vw;
  }

  .βασικές-πληροφορίες-περιττού-γεγονότος .τίτλος-γεγονότος,
  .βασικές-πληροφορίες-άρτιου-γεγονότος .τίτλος-γεγονότος {
    font-size: 1.3vw;
  }

  /* ΠΛΗΡΟΦΟΡΙΕΣ ΔΕΥΤΕΡΕΥΟΥΣΑΣ ΓΡΑΜΜΗΣ */
  .πληροφορίες-δευτερεύουσας-γραμμής {
    display: none;
  }

  .περιεχόμενο-γεγονότος:hover.με-δευτερεύουσα-γραμμή
    .πληροφορίες-δευτερεύουσας-γραμμής {
    display: flex;
    transition: all var(--χρόνος-μετάβασης-μορφής) ease-in-out;
  }

  .πληροφορίες-δευτερεύουσας-γραμμής.περιττή {
    flex-direction: row;
  }
  .πληροφορίες-δευτερεύουσας-γραμμής.άρτια {
    flex-direction: row-reverse;
  }

  /* Σύνδεσμοι*/
  .σύνδεσμος-οντότητας:link,
  .σύνδεσμος-οντότητας:focus,
  .σύνδεσμος-οντότητας:hover,
  .σύνδεσμος-οντότητας:active,
  .σύνδεσμος-οντότητας:visited,
  .σύνδεσμος-σπουδών:link,
  .σύνδεσμος-σπουδών:focus,
  .σύνδεσμος-σπουδών:hover,
  .σύνδεσμος-σπουδών:active,
  .σύνδεσμος-σπουδών:visited {
    color: gold;
    cursor: pointer;
  }

  .οντότητα,
  .σπουδές,
  .φάση-έργου,
  .διαχωριστικό {
    font-size: 0.7vw;
    color: white;
  }
  .οντότητα,
  .σπουδές,
  .φάση-έργου {
    width: auto;
  }

  .περιέκτης-κειμένου-φάσης-έργου {
    display: flex;
    justify-content: flex-start;
  }

  /* .οντότητα::after,
.σπουδές::after {
  font-size: 0.7vw;
  text-align: center;
} */

  .σύνδεσμος-οντότητας:hover > .οντότητα,
  .σύνδεσμος-σπουδών:hover > .σπουδές {
    /* font-size: 0; */
    color: gold;
  }

  /* .οντότητα:hover + .σπουδές,
.σπουδές:hover + .οντότητα {
  font-size: 0;
} */

  .οντότητα:hover::after {
    content: attr(data-types-main);
  }
  .σπουδές:hover::after {
    content: attr(data-types-sec);
  }

  .οντότητα-κανονικό:hover::after {
    /* color: var(--βασικό-χρώμα); */
    color: gold;
  }
  .οντότητα-πορτοκαλί:hover::after {
    /* color: var(--χρώμα-σπουδών); */
    color: gold;
  }
  .οντότητα-χρυσό:hover::after {
    /* color: var(--χρώμα-εργασίας); */
    color: gold;
  }
  .οντότητα-γαλαζοπράσινο:hover::after {
    /* color: var(--χρώμα-έργων); */
    color: gold;
  }

  /* Εικονίδια δευτερεύουσας γραμμής */
  .περιέκτης-εικονιδίων-δευτερεύουσας-γραμμής {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3vh;
  }

  .περιέκτης-εικονιδίων-δευτερεύουσας-γραμμής:hover {
    font-size: 0;
  }

  .περιέκτης-εικονιδίων-δευτερεύουσας-γραμμής:hover::after {
    content: attr(data-types-icon);
    font-size: 1.3vh;
    text-align: end;
    padding: 0;
  }

  .εικονίδιο-δευτερεύουσας-γραμμής {
    color: white;
  }

  .περιεχόμενο-γεγονότος.με-κείμενο .κείμενο-γεγονότος {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    transition-delay: 0.3s;
  }
  .περιεχόμενο-γεγονότος:hover.με-δευτερεύουσα-γραμμή.με-κείμενο
    .κείμενο-γεγονότος,
  .περιεχόμενο-γεγονότος:hover.χωρίς-δευτερεύουσα-γραμμή.με-κείμενο
    .κείμενο-γεγονότος {
    visibility: visible;
    opacity: 1;
    height: 66px;
    color: var(--κείμενο-βασικό-χρώμα);
    font-size: 1rem;
    font-weight: 300;
    line-height: 22px;
    margin: 15px;
  }
  .περιεχόμενο-γεγονότος:hover.με-δευτερεύουσα-γραμμή.με-κείμενο
    .γεγονός-μονού-αριθμού.κείμενο-γεγονότος,
  .περιεχόμενο-γεγονότος:hover.χωρίς-δευτερεύουσα-γραμμή.με-κείμενο
    .γεγονός-μονού-αριθμού.κείμενο-γεγονότος {
    margin: 10px 10px 0 30px;
  }
  .περιεχόμενο-γεγονότος:hover.με-δευτερεύουσα-γραμμή.με-κείμενο
    .γεγονός-ζυγού-αριθμού.κείμενο-γεγονότος,
  .περιεχόμενο-γεγονότος:hover.χωρίς-δευτερεύουσα-γραμμή.με-κείμενο
    .γεγονός-ζυγού-αριθμού.κείμενο-γεγονότος {
    margin: 10px 30px 0 10px;
  }

  .περιέκτης-σχετιζόμενων-έργων {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icons-container {
    --icons-container-length: 100%;
    --icons-container-width: 2.5vw;
    opacity: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: var(--icons-container-length);
    width: var(--icons-container-width);
    gap: clamp(0.5vw, 0.75vw, 1vw);
    background-color: var(--υβ-δευτερεύον-χρώμα-θολό);
    transition: opacity 0.5s ease-in-out;
    cursor: pointer;
  }

  .icons-container-down {
    bottom: 0;
    left: calc(50% - 3vw);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  .icons-container-right {
    height: var(--icons-container-length);
    top: 0;
    left: 0;
    border-left: none; /* No left border for right container */
    border-right: 2px dotted var(--βασικό-χρώμα);
    border-top-left-radius: 28px;
    border-bottom-left-radius: 28px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .icons-container-left {
    height: var(--icons-container-length);
    top: 0;
    left: calc(100% - var(--icons-container-width));
    border-left: 2px dotted var(--βασικό-χρώμα);
    border-top-right-radius: 28px;
    border-bottom-right-radius: 28px;
  }

  .περιεχόμενο-γεγονότος:hover.με-κείμενο.παρατημένο .icons-container-left,
  .περιεχόμενο-γεγονότος:hover.με-κείμενο.παρατημένο .icons-container-right,
  .περιεχόμενο-γεγονότος:hover.με-κείμενο.ολοκληρωμένο .icons-container-left,
  .περιεχόμενο-γεγονότος:hover.με-κείμενο.ολοκληρωμένο .icons-container-right,
  .περιεχόμενο-γεγονότος:hover.με-κείμενο.εν-εξελίξει .icons-container-left,
  .περιεχόμενο-γεγονότος:hover.με-κείμενο.εν-εξελίξει .icons-container-right,
  .περιεχόμενο-γεγονότος:hover.με-κείμενο.εν-αναμονή .icons-container-left,
  .περιεχόμενο-γεγονότος:hover.με-κείμενο.εν-αναμονή .icons-container-right {
    opacity: 1;
    transition-delay: 0.5s;
  }

  .περιεχόμενο-γεγονότος:hover.χωρίς-κείμενο.παρατημένο .icons-container-left,
  .περιεχόμενο-γεγονότος:hover.χωρίς-κείμενο.παρατημένο .icons-container-right,
  .περιεχόμενο-γεγονότος:hover.χωρίς-κείμενο.ολοκληρωμένο .icons-container-left,
  .περιεχόμενο-γεγονότος:hover.χωρίς-κείμενο.ολοκληρωμένο
    .icons-container-right,
  .περιεχόμενο-γεγονότος:hover.χωρίς-κείμενο.εν-εξελίξει .icons-container-left,
  .περιεχόμενο-γεγονότος:hover.χωρίς-κείμενο.εν-εξελίξει .icons-container-right,
  .περιεχόμενο-γεγονότος:hover.χωρίς-κείμενο.εν-αναμονή .icons-container-left,
  .περιεχόμενο-γεγονότος:hover.χωρίς-κείμενο.εν-αναμονή .icons-container-right {
    opacity: 1;
    transition-delay: 0.2s;
  }

  .icon-active {
    color: var(--βασικό-χρώμα);
    font-size: 1.3vw;
    font-weight: bold;
    cursor: pointer;
  }

  .icon-inactive {
    color: grey;
    font-size: 1.3vw;
    font-weight: bold;
    cursor: default;
  }

  .περιέκτης-τεχνολογιών {
    --περιέκτης-τεχνολογιών-πλάτος-βασικό: 100px;
    opacity: 1;
    position: absolute;
    bottom: -13px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    height: 25px;
    padding: 0 20px;
    background-color: var(--υβ-δευτερεύον-χρώμα);
    border-bottom: 2px solid var(--όριο-χρώμα-θολό);
    border-radius: 10px;
    z-index: 5;
    transform: rotateX(90deg);
    transition: 0.5s ease-in-out;
  }

  .tech-1 {
    --περιέκτης-τεχνολογιών-πλάτος-1: calc(
      var(--περιέκτης-τεχνολογιών-πλάτος-βασικό) + (24px * 1)
    );
    right: calc(50% - (var(--περιέκτης-τεχνολογιών-πλάτος-1) / 2));
    width: var(--περιέκτης-τεχνολογιών-πλάτος-1);
  }
  .tech-2 {
    --περιέκτης-τεχνολογιών-πλάτος-2: calc(
      var(--περιέκτης-τεχνολογιών-πλάτος-βασικό) + (24px * 2)
    );
    right: calc(50% - (var(--περιέκτης-τεχνολογιών-πλάτος-2) / 2));
    width: var(--περιέκτης-τεχνολογιών-πλάτος-2);
  }
  .tech-3 {
    --περιέκτης-τεχνολογιών-πλάτος-3: calc(
      var(--περιέκτης-τεχνολογιών-πλάτος-βασικό) + (24px * 3)
    );
    right: calc(50% - (var(--περιέκτης-τεχνολογιών-πλάτος-3) / 2));
    width: var(--περιέκτης-τεχνολογιών-πλάτος-3);
  }
  .tech-4 {
    --περιέκτης-τεχνολογιών-πλάτος-4: calc(
      var(--περιέκτης-τεχνολογιών-πλάτος-βασικό) + (24px * 4)
    );
    right: calc(50% - (var(--περιέκτης-τεχνολογιών-πλάτος-4) / 2));
    width: var(--περιέκτης-τεχνολογιών-πλάτος-4);
  }
  .tech-5 {
    --περιέκτης-τεχνολογιών-πλάτος-5: calc(
      var(--περιέκτης-τεχνολογιών-πλάτος-βασικό) + (24px * 5)
    );
    right: calc(50% - (var(--περιέκτης-τεχνολογιών-πλάτος-5) / 2));
    width: var(--περιέκτης-τεχνολογιών-πλάτος-5);
  }
  .tech-6 {
    --περιέκτης-τεχνολογιών-πλάτος-6: calc(
      var(--περιέκτης-τεχνολογιών-πλάτος-βασικό) + (24px * 6)
    );
    right: calc(50% - (var(--περιέκτης-τεχνολογιών-πλάτος-6) / 2));
    width: var(--περιέκτης-τεχνολογιών-πλάτος-6);
  }
  .tech-7 {
    --περιέκτης-τεχνολογιών-πλάτος-7: calc(
      var(--περιέκτης-τεχνολογιών-πλάτος-βασικό) + (24px * 7)
    );
    right: calc(50% - (var(--περιέκτης-τεχνολογιών-πλάτος-7) / 2));
    width: var(--περιέκτης-τεχνολογιών-πλάτος-7);
  }
  .tech-8 {
    --περιέκτης-τεχνολογιών-πλάτος-8: calc(
      var(--περιέκτης-τεχνολογιών-πλάτος-βασικό) + (24px * 8)
    );
    right: calc(50% - (var(--περιέκτης-τεχνολογιών-πλάτος-8) / 2));
    width: var(--περιέκτης-τεχνολογιών-πλάτος-8);
  }
  .tech-9 {
    --περιέκτης-τεχνολογιών-πλάτος-9: calc(
      var(--περιέκτης-τεχνολογιών-πλάτος-βασικό) + (24px * 9)
    );
    right: calc(50% - (var(--περιέκτης-τεχνολογιών-πλάτος-9) / 2));
    width: var(--περιέκτης-τεχνολογιών-πλάτος-9);
  }
  .tech-10 {
    --περιέκτης-τεχνολογιών-πλάτος-10: calc(
      var(--περιέκτης-τεχνολογιών-πλάτος-βασικό) + (24px * 10)
    );
    right: calc(50% - (var(--περιέκτης-τεχνολογιών-πλάτος-10) / 2));
    width: var(--περιέκτης-τεχνολογιών-πλάτος-10);
  }
  .tech-11 {
    --περιέκτης-τεχνολογιών-πλάτος-11: calc(
      var(--περιέκτης-τεχνολογιών-πλάτος-βασικό) + (24px * 11)
    );
    right: calc(50% - (var(--περιέκτης-τεχνολογιών-πλάτος-11) / 2));
    width: var(--περιέκτης-τεχνολογιών-πλάτος-11);
  }

  .tech-12 {
    --περιέκτης-τεχνολογιών-πλάτος-12: calc(
      var(--περιέκτης-τεχνολογιών-πλάτος-βασικό) + (24px * 12)
    );
    right: calc(50% - (var(--περιέκτης-τεχνολογιών-πλάτος-12) / 2));
    width: var(--περιέκτης-τεχνολογιών-πλάτος-12);
  }
  .tech-13 {
    --περιέκτης-τεχνολογιών-πλάτος-13: calc(
      var(--περιέκτης-τεχνολογιών-πλάτος-βασικό) + (24px * 13)
    );
    right: calc(50% - (var(--περιέκτης-τεχνολογιών-πλάτος-13) / 2));
    width: var(--περιέκτης-τεχνολογιών-πλάτος-13);
  }
  .tech-14 {
    --περιέκτης-τεχνολογιών-πλάτος-14: calc(
      var(--περιέκτης-τεχνολογιών-πλάτος-βασικό) + (24px * 14)
    );
    right: calc(50% - (var(--περιέκτης-τεχνολογιών-πλάτος-14) / 2));
    width: var(--περιέκτης-τεχνολογιών-πλάτος-14);
  }
  .tech-15 {
    --περιέκτης-τεχνολογιών-πλάτος-15: calc(
      var(--περιέκτης-τεχνολογιών-πλάτος-βασικό) + (24px * 15)
    );
    right: calc(50% - (var(--περιέκτης-τεχνολογιών-πλάτος-15) / 2));
    width: var(--περιέκτης-τεχνολογιών-πλάτος-15);
  }

  .περιεχόμενο-γεγονότος:hover .περιέκτης-τεχνολογιών {
    opacity: 1;
    bottom: -13px;
    transform: rotateX(0);
  }

  .περιέκτης-τεχνολογιών::before {
    content: '';
    position: absolute;
    left: 0px;
    bottom: 4px;
    height: 5px;
    width: 5px;
    background-color: transparent;
    border-top: 2px solid transparent;
    border-top-right-radius: 5px;
    transition: var(--χρόνος-μετάβασης-μορφής) ease-in-out;
  }
  .περιέκτης-τεχνολογιών::after {
    content: '';
    position: absolute;
    right: 0px;
    bottom: 4px;
    height: 5px;
    width: 5px;
    background-color: transparent;
    border-top: 2px solid transparent;
    border-top-left-radius: 5px;
    transition: var(--χρόνος-μετάβασης-μορφής) ease-in-out;
  }

  .περιεχόμενο-γεγονότος:hover.με-κείμενο.ολοκληρωμένο .περιέκτης-τεχνολογιών,
  .περιεχόμενο-γεγονότος:hover.χωρίς-κείμενο.ολοκληρωμένο
    .περιέκτης-τεχνολογιών {
    border-bottom: 2px solid var(--χρώμα-ολοκληρωμένου);
  }
  .περιεχόμενο-γεγονότος:hover.με-κείμενο.ολοκληρωμένο
    .περιέκτης-τεχνολογιών::before,
  .περιεχόμενο-γεγονότος:hover.με-κείμενο.ολοκληρωμένο
    .περιέκτης-τεχνολογιών::after,
  .περιεχόμενο-γεγονότος:hover.χωρίς-κείμενο.ολοκληρωμένο
    .περιέκτης-τεχνολογιών::before,
  .περιεχόμενο-γεγονότος:hover.χωρίς-κείμενο.ολοκληρωμένο
    .περιέκτης-τεχνολογιών::after {
    border-top: 2px solid var(--χρώμα-ολοκληρωμένου);
  }

  .περιεχόμενο-γεγονότος:hover.με-κείμενο.παρατημένο .περιέκτης-τεχνολογιών,
  .περιεχόμενο-γεγονότος:hover.χωρίς-κείμενο.παρατημένο .περιέκτης-τεχνολογιών {
    border-bottom: 2px solid var(--χρώμα-παρατημένου);
  }
  .περιεχόμενο-γεγονότος:hover.με-κείμενο.παρατημένο
    .περιέκτης-τεχνολογιών::before,
  .περιεχόμενο-γεγονότος:hover.με-κείμενο.παρατημένο
    .περιέκτης-τεχνολογιών::after,
  .περιεχόμενο-γεγονότος:hover.χωρίς-κείμενο.παρατημένο
    .περιέκτης-τεχνολογιών::before,
  .περιεχόμενο-γεγονότος:hover.χωρίς-κείμενο.παρατημένο
    .περιέκτης-τεχνολογιών::after {
    border-top: 2px solid var(--χρώμα-παρατημένου);
  }

  .περιεχόμενο-γεγονότος:hover.με-κείμενο.εν-εξελίξει .περιέκτης-τεχνολογιών,
  .περιεχόμενο-γεγονότος:hover.χωρίς-κείμενο.εν-εξελίξει
    .περιέκτης-τεχνολογιών {
    border-bottom: 2px solid var(--χρώμα-εν-εξελίξει);
  }
  .περιεχόμενο-γεγονότος:hover.με-κείμενο.εν-εξελίξει
    .περιέκτης-τεχνολογιών::before,
  .περιεχόμενο-γεγονότος:hover.με-κείμενο.εν-εξελίξει
    .περιέκτης-τεχνολογιών::after,
  .περιεχόμενο-γεγονότος:hover.χωρίς-κείμενο.εν-εξελίξει
    .περιέκτης-τεχνολογιών::before,
  .περιεχόμενο-γεγονότος:hover.χωρίς-κείμενο.εν-εξελίξει
    .περιέκτης-τεχνολογιών::after {
    border-top: 2px solid var(--χρώμα-εν-εξελίξει);
  }

  .περιεχόμενο-γεγονότος:hover.με-κείμενο.εν-αναμονή .περιέκτης-τεχνολογιών,
  .περιεχόμενο-γεγονότος:hover.χωρίς-κείμενο.εν-αναμονή .περιέκτης-τεχνολογιών {
    border-bottom: 2px solid var(--χρώμα-εν-αναμονή);
  }
  .περιεχόμενο-γεγονότος:hover.με-κείμενο.εν-αναμονή
    .περιέκτης-τεχνολογιών::before,
  .περιεχόμενο-γεγονότος:hover.με-κείμενο.εν-αναμονή
    .περιέκτης-τεχνολογιών::after,
  .περιεχόμενο-γεγονότος:hover.χωρίς-κείμενο.εν-αναμονή
    .περιέκτης-τεχνολογιών::before,
  .περιεχόμενο-γεγονότος:hover.χωρίς-κείμενο.εν-αναμονή
    .περιέκτης-τεχνολογιών::after {
    border-top: 2px solid var(--χρώμα-εν-αναμονή);
  }
}

/* ΜΟΡΦΗ ΣΤΟΙΧΕΙΩΝ */
.περιεχόμενο-γεγονότος.με-υαλομορφισμό {
  border-color: var(--όριο-χρώμα-θολό);
  background-color: rgba(0, 253, 253, 0.005);
  mask-image: none;
  backdrop-filter: blur(3px);
  transition: all var(--χρόνος-μετάβασης-μορφής) ease-in-out;
}

.περιεχόμενο-γεγονότος.με-αδιαφανή-στοιχεία {
  border-color: var(--όριο-χρώμα-θολό);
  background-color: var(--υβ-δευτερεύον-χρώμα);
  transition: all var(--χρόνος-μετάβασης-μορφής) ease-in-out;
}
.περιεχόμενο-γεγονότος.με-ημιδιαφανή-στοιχεία {
  border-color: var(--όριο-χρώμα-θολό);
  background-color: var(--υβ-δευτερεύον-χρώμα-θολό);
  transition: all var(--χρόνος-μετάβασης-μορφής) ease-in-out;
}
.περιεχόμενο-γεγονότος.με-φέγγος-ορίων {
  border-color: var(--βασικό-χρώμα);
  transition: all var(--χρόνος-μετάβασης-μορφής) ease-in-out;
}
.περιεχόμενο-γεγονότος.με-φέγγος-στοιχείων {
  box-shadow: 0 0px 20px var(--βασικό-χρώμα);
  transition: all var(--χρόνος-μετάβασης-μορφής) ease-in-out;
}
/* --------------- */

@keyframes show-tech {
  to {
    opacity: 1;
    bottom: -13px;
    transform: rotateX(0);
  }
}

@keyframes εναλλαγή-μορφής-ορίου-για-ολοκληρωμένο {
  to {
    border-color: var(--χρώμα-ολοκληρωμένου);
  }
}

@keyframes εναλλαγή-μορφής-ορίου-για-παρατημένο {
  to {
    border-color: var(--χρώμα-παρατημένου);
  }
}

@keyframes εναλλαγή-μορφής-ορίου-εν-εξελίξει {
  to {
    border-color: var(--χρώμα-εν-εξελίξει);
  }
}

@keyframes εναλλαγή-μορφής-ορίου-για-εν-αναμονή {
  to {
    border-color: var(--χρώμα-εν-αναμονή);
  }
}
