.εκκρεμότητες {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 150px;
  padding-left: 150px;
}

.περιέκτης-εκκρεμοτήτων {
  position: absolute;
  top: 26vh;
  height: 63vh;
  width: 80vw;
  overflow-y: hidden;
  overflow-x: hidden;
}
