.βασικό-πλήκτρο,
.δευτερεύον-πλήκτρο,
.πλήκτρο-επιτυχίας {
  padding: 1vh 2.8vw;
  font-size: max(1vw, 14px);
  font-weight: 600;
  box-shadow: 0 0 25px transparent;
  border: 2px solid transparent;
  border-radius: 12px;
  letter-spacing: 0.1rem;
  transition: var(--χρόνος-μετάβασης-μορφής) ease-in-out;
  z-index: 150;
  cursor: pointer;
}

.βασικό-πλήκτρο {
  background: var(--βασικό-χρώμα);
  color: black;
}
.δευτερεύον-πλήκτρο {
  background: var(--υβ-δευτερεύον-χρώμα-θολό);
  color: var(--βασικό-χρώμα);
  border-color: var(--βασικό-χρώμα);
}
.πλήκτρο-επιτυχίας {
  background: var(--επιτυχία);
  color: white;
  box-shadow: 0 0 25px var(--επιτυχία);
  cursor: default;
}

.ηρώο-αριστερά {
  border-bottom-left-radius: 25px;
  text-align: right;
}
.ηρώο-δεξιά {
  border-bottom-right-radius: 25px;
}

/* ================================================ */
@media (min-width: 410px) {
  .ηρώο-αριστερά {
    border-bottom-left-radius: 15px;
    text-align: left;
  }
  .ηρώο-δεξιά {
    border-bottom-right-radius: 15px;
  }
}
/* ================================================ */
@media (min-width: 480px) {
}
/* ================================================ */
@media (min-width: 768px) {
  .βασικό-πλήκτρο,
  .δευτερεύον-πλήκτρο,
  .πλήκτρο-επιτυχίας {
    font-size: max(1vw, 1rem);
    border-radius: 15px;
  }
}
/* ================================================ */
@media (min-width: 1024px) {
}
/* ================================================ */
@media (min-width: 1366px) {
}

/* ΚΙΝΗΣΗ ΑΙΩΡΗΣΗΣ */
.βασικό-πλήκτρο:hover.αιώρηση-επιτόπια,
.δευτερεύον-πλήκτρο:hover.αιώρηση-επιτόπια {
  transform: scale(1.05);
}
.βασικό-πλήκτρο:hover.αιώρηση-προς-επάνω,
.δευτερεύον-πλήκτρο:hover.αιώρηση-προς-επάνω {
  transform: scale(1.05) translateY(-5px);
}
.βασικό-πλήκτρο:hover.αιώρηση-προς-κάτω,
.δευτερεύον-πλήκτρο:hover.αιώρηση-προς-κάτω {
  transform: scale(1.05) translateY(5px);
}
.βασικό-πλήκτρο:hover.αιώρηση-προς-δεξιά,
.δευτερεύον-πλήκτρο:hover.αιώρηση-προς-δεξιά {
  transform: scale(1.05) translateX(5px);
}
.βασικό-πλήκτρο:hover.αιώρηση-προς-αριστερά,
.δευτερεύον-πλήκτρο:hover.αιώρηση-προς-αριστερά {
  transform: scale(1.05) translateX(-5px);
}
/* --------------- */

/* ΜΟΡΦΗ ΠΛΗΚΤΡΩΝ */
.δευτερεύον-πλήκτρο.με-υαλομορφισμό {
  border: 2px solid var(--όριο-χρώμα-θολό);
  background-color: rgba(0, 253, 253, 0.005);
  backdrop-filter: blur(3px);
  transition: var(--χρόνος-μετάβασης-μορφής) ease-in-out;
}

.δευτερεύον-πλήκτρο.με-αδιαφανή-στοιχεία {
  border: 2px solid var(--όριο-χρώμα-θολό);
  background-color: var(--υπ-δευτερεύον-χρώμα);
  transition: var(--χρόνος-μετάβασης-μορφής) ease-in-out;
}

.δευτερεύον-πλήκτρο.με-ημιδιαφανή-στοιχεία {
  border: 2px solid var(--όριο-χρώμα-θολό);
  background-color: var(--υβ-δευτερεύον-χρώμα-θολό);
  transition: var(--χρόνος-μετάβασης-μορφής) ease-in-out;
}

.βασικό-πλήκτρο.με-φέγγος-ορίων,
.δευτερεύον-πλήκτρο.με-φέγγος-ορίων,
.πλήκτρο-επιτυχίας.με-φέγγος-ορίων {
  border: 2px solid var(--βασικό-χρώμα);
  transition: var(--χρόνος-μετάβασης-μορφής) ease-in-out;
}

.βασικό-πλήκτρο.με-φέγγος-στοιχείων,
.δευτερεύον-πλήκτρο.με-φέγγος-στοιχείων,
.πλήκτρο-επιτυχίας.με-φέγγος-στοιχείων {
  box-shadow: 0 0px 20px var(--βασικό-χρώμα);
  transition: var(--χρόνος-μετάβασης-μορφής) ease-in-out;
}

.βασικό-πλήκτρο.active,
.βασικό-πλήκτρο.με-φέγγος-στοιχείων.active,
.δευτερεύον-πλήκτρο.active,
.δευτερεύον-πλήκτρο.με-φέγγος-στοιχείων.active {
  border: 2px solid gold;
  transition: var(--χρόνος-μετάβασης-μορφής) ease-in-out;
  cursor: pointer;
}
.βασικό-πλήκτρο.με-φέγγος-στοιχείων.active,
.δευτερεύον-πλήκτρο.με-φέγγος-στοιχείων.active {
  box-shadow: 0 0px 20px gold;
}

.βασικό-πλήκτρο:hover,
.δευτερεύον-πλήκτρο:hover {
  padding: 0.95vh 2.8vw 1.05vh; /* Αναγκάστηκα να προσθέσω αυτήν την γραμμή γιατί το κείμενο κουνιόταν λίγο προς τα κάνω */
  background: var(--βασικό-χρώμα);
  color: white;
  border: 2px solid gold;
  transition: 0.3s ease-in-out;
}
.βασικό-πλήκτρο:hover.με-φέγγος-στοιχείων {
  border: 2px solid gold;
  box-shadow: 0 0px 20px var(--βασικό-χρώμα);
  transition: 0.3s ease-in-out;
}
.δευτερεύον-πλήκτρο:hover.με-φέγγος-στοιχείων {
  box-shadow: 0 0px 20px gold;
  transition: 0.3s ease-in-out;
}

/* --------------- */
