.περιέκτης-εικονιδίου-ρυθμίσεων {
  display: flex;
  align-items: center;
  cursor: pointer;
  z-index: 200;
}

.εικονίδιο-ρυθμίσεων {
  color: var(--βασικό-χρώμα);
  font-size: 2rem;
  font-weight: bold;
}

.εικονίδιο-ρυθμίσεων:hover {
  color: gold;
}

/* ================================================ */

@media (min-width: 480px) {
}

/* ================================================ */

@media (min-width: 768px) {
  .περιέκτης-εικονιδίου-ρυθμίσεων {
    display: flex;
    align-items: center;
    cursor: pointer;
    z-index: 200;
  }
  
  .εικονίδιο-ρυθμίσεων {
    color: var(--βασικό-χρώμα);
    font-size: 2rem;
    font-weight: bold;
  }
  
  .εικονίδιο-ρυθμίσεων:hover {
    color: gold;
  }
}

/* ================================================ */

@media (min-width: 1024px) {

}

/* ================================================ */

@media (min-width: 1366px) {
}

.απόκρυψη {
  visibility: hidden;
}