.παράθυρο-ρυθμίσεων {
  position: absolute;
  height: auto;
  min-height: 510px;
  width: auto;
  margin: 20px;
  background-color: var(--υβ-δευτερεύον-χρώμα-επιπλέον-θολό);
  border: 1px solid transparent;
  border-radius: 20px;
  transition: all var(--χρόνος-μετάβασης-μορφής) ease-in-out;
  z-index: 250;
}

.λογότυπο {
  position: absolute;
  top: 18px;
  left: 15px;
  padding: 3px 3px 0;
  transition: 0.7s ease-in-out;
}

.λογότυπο:hover {
  transform: scale(1.25);
}

.λογότυπο .εικόνα {
  stroke: var(--βασικό-χρώμα);
  fill: var(--βασικό-χρώμα);
}

.τίτλος-παραθύρου {
  position: absolute;
  bottom: 235px;
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 29px;
  color: var(--βασικό-χρώμα);
  margin: 2px 0 0;
}

.πλήκτρο-εξόδου {
  position: absolute;
  top: 10px;
  right: 10px;
  color: red;
  font-size: 50px;
  font-weight: 900;
  background-color: transparent;
}

.περιέκτης-πλοήγησης-παραθύρου-ρυθμίσεων {
  position: absolute;
  top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  min-width: 140px;
  margin: 5vh 0;
}

.περιέκτης-πλοήγησης-παραθύρου-ρυθμίσεων .στοιχεία {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1vh;
  list-style: none;
}

.περιέκτης-πλοήγησης-παραθύρου-ρυθμίσεων .στοιχείο {
  font-size: 1.5rem;
  color: var(--βασικό-χρώμα);
  font-weight: 700;
  transition: 0.3s ease;
  border-bottom: 2px solid transparent;
  text-align: center;
}

.περιέκτης-πλοήγησης-παραθύρου-ρυθμίσεων .στοιχείο:hover,
.περιέκτης-πλοήγησης-παραθύρου-ρυθμίσεων .στοιχείο:active {
  color: var(--βασικό-χρώμα);
  border-bottom: 2px solid gold;
  transform: scale(1.1);
}

.περιέκτης-πλοήγησης-παραθύρου-ρυθμίσεων .στοιχείο.active {
  color: gold;
  transition: 0.3s ease-in;
  cursor: pointer;
}

.διακόπτες-ρυθμίσεων {
  position: absolute;
  bottom: 50px;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  width: 100%;
  padding: 5px 15px 15px;
  gap: 5px;
}

.γραμμή-διακόπτη {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.τίτλος-διακόπτη {
  color: var(--βασικό-χρώμα);
  font-size: 18px;
}

.περιέκτης-υποσέλιδου {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ================================================ */
@media (min-width: 480px) {
  .παράθυρο-ρυθμίσεων {
    --πλάτος: 300px;
    position: absolute;
    left: calc(100% - (var(--πλάτος) + 40px));
    height: auto;
    width: auto;
    max-width: 400px;
    margin: 20px;
    background-color: var(--υβ-δευτερεύον-χρώμα-επιπλέον-θολό);
    border: 1px solid transparent;
    border-radius: 20px;
    transition: all var(--χρόνος-μετάβασης-μορφής) ease-in-out;
    z-index: 250;
  }
}
/* ================================================ */
@media (min-width: 768px) {
}
/* ================================================ */
@media (min-width: 1024px) {
  .παράθυρο-ρυθμίσεων {
    --ύψος: 240px;
    --πλάτος: 300px;
    position: absolute;
    top: calc(100% - (var(--ύψος) + 40px));
    left: calc(100% - (var(--πλάτος) + 40px));
    height: var(--ύψος);
    min-height: fit-content;

    width: var(--πλάτος);
    background-color: var(--υβ-δευτερεύον-χρώμα-θολό);
  }

  .λογότυπο {
    display: none;
  }

  .πλήκτρο-εξόδου {
    font-size: 40px;
  }

  .διακόπτες-ρυθμίσεων {
    bottom: 0;
  }

  .τίτλος-παραθύρου {
    top: 10px;
    left: 15px;
    justify-content: flex-start;
    width: fit-content;
  }

  .περιέκτης-πλοήγησης-παραθύρου-ρυθμίσεων {
    display: none;
  }

  .περιέκτης-υποσέλιδου {
    display: none;
  }
}
/* ================================================ */
@media (min-width: 1366px) {
}

/* ΜΟΡΦΗ ΣΤΟΙΧΕΙΩΝ */
.με-υαλομορφισμό {
  border-color: var(--όριο-χρώμα-θολό);
  background-color: rgba(0, 253, 253, 0.005);
  backdrop-filter: blur(3px);
}

.με-αδιαφανή-στοιχεία {
  border-color: var(--όριο-χρώμα-θολό);
  background-color: var(--υπ-δευτερεύον-χρώμα);
}
.με-ημιδιαφανή-στοιχεία {
  border-color: var(--όριο-χρώμα-θολό);
}
.με-φέγγος-ορίων {
  border-color: var(--βασικό-χρώμα);
}
.με-φέγγος-στοιχείων {
  box-shadow: 0 0px 20px var(--βασικό-χρώμα);
}
/* --------------- */
