.παράθυρο-ρυθμίσεων {
  --ύψος: 150px;
  --πλάτος: 300px;
  position: absolute;
  top: calc(100% - (var(--ύψος) + 25px));
  left: calc(100% - (var(--πλάτος) + 25px));
  height: var(--ύψος);
  width: var(--πλάτος);
  background-color: var(--second-bg-color-blurred);
  z-index: 160;
  max-height: none;
  max-width: none;
  border: 1px solid var(--main-color);
  border-radius: 25px;
  z-index: 250;
}

.τίτλος-παραθύρου {
  position: absolute;
  top: 10px;
  left: 15px;
  font-size: 29px;
  color: var(--main-color);
  margin: 2px 0 0;
}

.πλήκτρο-εξόδου {
  position: absolute;
  top: 10px;
  right: 10px;
  color: red;
  font-size: 40px;
  font-weight: 900;
  background-color: transparent;
}

.διακόπτες-ρυθμίσεων {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: calc(var(--ύψος) - 60px);
  width: 100%;
  padding: 10px 15px;
  gap: 5px;
}

.γραμμή-διακόπτη {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.τίτλος-διακόπτη {
  color: var(--main-color);
  font-size: 18px;
}
