.παράθυρο-κειμένου {
  height: 100vh;
  width: 100vw;
  padding: 10vh 10vw;
  background-color: var(--bg-color);
  z-index: 160;
  max-height: none;
  max-width: none;
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: var(--main-color);
}

.πλήκτρο {
  position: absolute;
  top: 0;
  right: 0;
  color: red;
  font-size: 80px;
  font-weight: 900;
  background-color: transparent;
}