.τομέας-χρονολογίου {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  gap: 4.5vw;
  /* height: 80vh; */
  /* width: 100vw;
  color: white; */
  text-align: center;
  transition: all 2s ease-in-out;
}

/* .αρχική-με-δυναμικό-υπόβαθρο {
  gap: 4.5vw;
  transition: 2s ease-in-out
} */

/* ================================================ */
@media (min-width: 480px) {
}
/* ================================================ */
@media (min-width: 768px) {
}
/* ================================================ */
@media (min-width: 1024px) {
}
/* ================================================ */
@media (min-width: 1366px) {
  .τομέας-χρονολογίου {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80vw;
    color: white;
    text-align: center;
    transition: all 2s ease-in-out;
  }

  /* .αρχική-με-δυναμικό-υπόβαθρο {
    gap: 4.5vw;
    transition: 2s ease-in-out
  } */
}

/* ================================================ */
@media (orientation: landscape) and (min-width: 1024px) and (min-height: 700px) {
  .τομέας-χρονολογίου {
    flex-direction: row;
    width: 80dvw;
  }
}
