.περιέκτης {
  --container-height: 25px;
  --container-width: 40px;
  --container-padding: 0px;
  --button-margin: 6px;
  --border-thickness: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: fit-content;
  padding: 0;
}

.πεδίο-επιλογής {
  display: none;
}

.περίβλημα-πλήκτρο {
  height: var(--container-height);
  width: var(--container-width);
  height: fit-content;
  width: fit-content;
  margin: 0;
  border: var(--border-thickness) solid var(--main-color);
  border-radius: 15px;
  transition: 0.5s;
  cursor: pointer;
  overflow: hidden;
}

.περίβλημα-πλήκτρο:hover.μεΠαλμό {
  box-shadow: 0px 0px 15px gold;
  animation: παλμός 1.5s ease-in-out infinite;
}

.περίβλημα-πλήκτρο:hover.χωρίςΠαλμό {
  box-shadow: 0px 0px 15px gold;
  transition: 0.5s;
}

.πεδίο-επιλογής:checked + .περίβλημα-πλήκτρο {
  border-color: gold;
  box-shadow: 0px 0px 15px gold;
  transition: 0.5s;
}

.πεδίο-επιλογής:checked + .περίβλημα-πλήκτρο:hover {
  animation: none;
  transition: 0.5s;
}

@keyframes παλμός {
  0% {
    box-shadow: 0px 0px 0px gold;
  }
  10% {
    box-shadow: 0px 0px 3px gold;
  }
  20% {
    box-shadow: 0px 0px 6px gold;
  }
  30% {
    box-shadow: 0px 0px 9px gold;
  }
  40% {
    box-shadow: 0px 0px 12px gold;
  }
  50% {
    box-shadow: 0px 0px 15px gold;
  }
  60% {
    box-shadow: 0px 0px 12px gold;
  }
  70% {
    box-shadow: 0px 0px 9px gold;
  }
  80% {
    box-shadow: 0px 0px 6px gold;
  }
  90% {
    box-shadow: 0px 0px 3px gold;
  }
  100% {
    box-shadow: 0px 0px 0px gold;
  }
}