.περιέκτης-καταλόγου {
  --καμπύλη-γωνίας: 14px;
  position: relative;
  width: fit-content;
  min-width: 150px;
}
.περιέκτης-κυρίως-πλήκτρου {
  display: flex;
  align-items: center;
  height: fit-content;
  width: 100%;
  padding: 1.4vh 12px;
  border: 2px solid var(--main-color);
  border-radius: var(--καμπύλη-γωνίας);
  background: var(--second-bg-color-blurred);
  color: #8c949b;
  gap: 8px;
  cursor: pointer;
  max-height: 60px;
}

.εικονίδιο-κυρίως-πλήκτρου {
  display: flex;
  align-items: center;
  font-size: max(1vw, 15px);
}
.ετικέτα-κυρίως-πλήκτρου {
  font-size: max(1vw, 12px);
}

.βελάκι-κυρίως-πλήκτρου {
  margin-left: auto;
}

.περιέκτης-στοιχείων-καταλόγου {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  background: transparent;
  padding: 0;
  gap: 2px;
  list-style: none;
  z-index: 10;
}
.στοιχείο-καταλόγου {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  background: var(--second-bg-color-blurred);
  border: 1px solid var(--main-color);
  border-radius: var(--καμπύλη-γωνίας);
  width: 90%;
  color: var(--main-color);
  font-size: 15px;
  gap: 8px;
  cursor: pointer;
}
.στοιχείο-καταλόγου:hover {
  border: 1px solid gold;
  color: gold;
}

.εικονίδιο-στοιχείου {
  display: flex;
  align-items: center;
  font-size: 24px;
}

/* ================================================ */
@media (min-width: 480px) {
  .περιέκτης-κυρίως-πλήκτρου {
    border-radius: 15px;
  }

  .εικονίδιο-κυρίως-πλήκτρου {
    font-size: max(1vw, 18px);
  }

  .ετικέτα-κυρίως-πλήκτρου {
    font-size: max(1vw, 13px);
  }
}

/* ================================================ */
@media (min-width: 768px) {
  .περιέκτης-καταλόγου {
    min-width: 180px;
  }

  .περιέκτης-κυρίως-πλήκτρου {
    border-radius: 20px;
  }

  .ετικέτα-κυρίως-πλήκτρου {
    font-size: max(1vw, 15px);
  }
}
/* ================================================ */
@media (min-width: 1024px) {
}
/* ================================================ */
@media (min-width: 1366px) {
}
